.note{
	 margin-left: 27%;
    font-size: 10px;
    font-weight: bold;
}
.errorButton{
	background-color: #e3342f !important;
	border: 1px solid #e3342f !important;
}
.ErrorMessage{
	color: red;
    font-size: 11px;
    font-weight: bold;
    display: block;
    width: 100%;
    margin-left: 149px;
    margin-top: -8px
}
.errors{
	color: red;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
    display: none;
}
.inputErrors{
	color: red;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
    margin-left: 28%;
    margin-top: -2px;
    /*display: none;*/
}
.formErrors{
	border:1px solid red !important;
}
.serverMsgs{
	height: 39px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    padding-top: 8px;
    margin-bottom: 12px;
    margin-left: 31px
}
div.confirmationBox{
	width: 360px;
	max-height: 182px;
	background: white;
	/*box-shadow:  0px 0px 10px 3px #b1a0a0;*/

	box-shadow: 0 2px 4px 800px rgba(59,64,69,0.2);
	border-radius: 10px;
	position: fixed;
	z-index: 1;
	top:42%;
	left: 39%;
	padding: 20px 0px;
	overflow: hidden;
	display: none;
}
div.confirmationBox a{
	margin: 37px 25px;
	pointer-events: initial !important;
}
.changeOptions{
	text-align: center;
	font-weight: bold;
}
.changeOptions a{
	text-decoration: none;
}
#textUpload a{
	color: #3fbbc0;
}
#text{
	font-size: 15px;
	padding-bottom: 10px;
}
#textRemove a{
	color: #e3342f;
}
#textCancel a{
	font-weight: normal;
	color: black;
}
a#topButtonP:focus{
	box-shadow: none;
}

#editParent{
	background-color: #fafafa;
	padding: 60px 220px;
}
#editOptions{
	border: 1px solid #dbdbdb;
	background-color: white;
	width: 25%;
	display: inline-block;
	float: left;
	min-height: 620px;
	padding: 1px 0px;
}

.active1{
	background-color: #fafafa !important;
    border-left-color: #dbdbdb !important;
    color: #3fbbc0 !important;
    border-left: 1px solid #3fbbc0 !important;
}

/*editing part*/

.editForm{
	border: 1px solid #dbdbdb;
	border-left: 0px;
	background-color: white;
	width: 75%;
	position: relative;
	display: inline-block;
	float: right;
	padding: 16px 40px;
	padding-right: 100px;
	overflow: hidden;
	min-height: 620px;
}

.tabLinks{	
	width: 100%;
	text-align:left;
	background-color: inherit;
    border: none;
    color: #666;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.5s;
    padding: 10px 16px 20px 30px;
    border-bottom: 1px solid lightgray;

}

.tabLinks:hover{	
	background-color: #fafafa;
    border-left-color: #dbdbdb;
}
.tabLinks:focus{	
	outline: 0px;
}

.form-elements{
	margin-bottom: 4px;
}
.form-labels{
	text-align: right;
	padding: 5px 12px;
	font-weight: bold;	
	font-size: 13px;
	width: 150px;
}
.form-fields{
    border: 1px solid #efefef;
    border-radius: 6px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    height: 32px;
    z-index: 0 !important;
    padding: 0 10px;
}
.address{
	font-size: 12px !important;
	margin-left: 1px !important;
}
.date{
	margin-left: 1px !important;
}
.genderLabels{
	font-size: 14px;
}
#submitButton{
	background-color: #3fbbc0;
	color: white;
	font-weight: bold;
}

#changePhoto{
	margin-bottom: 7px;
	padding: 0px 90px;
	overflow: hidden;
}
#userPhoto{
	display: inline-block;
	width: 60px;
	float: left;
	position: relative;
}
.image{
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
}
#notImage{
	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 45px;
	color: #3fbbc0;
}
#username{
	font-weight: bold;
	font-size: 15px;
	display: block;
}
#changePhotoLink{
	color: #3fbbc0;
	font-weight: bold;
	text-decoration: none;
}

#loading{
	width: 40px;
	position: absolute;
	left: 0px;
	display: none;
	transition: 0.5s;
}

span#tagInfoIcon{
	padding: 3px 3px;
	color: white;
	background-color: #3fbbc0;
	cursor: pointer;
	border-radius: 4px;
	font-size: 10px;
	position: absolute;
	right: 3px;
	top: 8px
}
#addTagLink{
	display: block;
	background-color: #3fbbc0;
	border: 1px solid #3fbbc0;
	color: white;
	overflow: hidden;
	margin-top: 2px;
	height: 30px;
	font-size: 12px;
	padding: 4px 5px;
	border-radius: 5px;
	text-decoration: none;
	transition: .5s;
}
div#tagInfo{
	background-color: white;
    position: absolute;
    right: -7px;
    top: -280px;
    padding: 12px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #6c6f71;
    width: 226px;
    box-shadow: 0 4px 8px rgba(59,64,69,0.2);
    border-radius: 15px;
    display: none;
}
div#tagInfo h6{
	font-weight: bold;
	color: #9ba1a7;
	font-size: 12px;
}
div#tagInfo a{
	color: #3fbbc0;
}
div#tagInfo:after{
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	right: 8px;
	bottom: -7px;
	transform: rotate(37deg);
	background-color: white;
	border-top: none;
	border-left: none;
	box-shadow:1 4px 8px rgba(59,64,69,0.2);
}
div#tags{
	background-color: white;
	position: absolute;
	max-height: 235px;
	overflow-y: auto;
	overflow-x: visible;
	left: 0px;
	top: -240px;
	padding: 12px 12px;
	font-size: 12px;
	font-weight: bold;
	color: #6c6f71;
	width: 251px;
	box-shadow:0 4px 8px rgba(59,64,69,0.2);
	border-radius: 10px;
	display: none;
}
td{
	padding:0 !important;
	padding-top: 3px !important;
}
div#tags label{
	color: #9ba1a7;
}
a#tagsDoneBtn{
	background-color: #3fbbc0;
    position: sticky;
    z-index: 1;
    top: 184px;
    float: right;
    right: -5px;
    border-radius: 50%;
    width: 35px;
    overflow: hidden;
    font-size: 8px;
    box-shadow: 0 4px 8px rgba(59,64,69,0.2);
    padding: 8px;
    color: white;
    font-weight: bold;
}
/*old fields*/
div.tags{
	margin-bottom: 2px;
	margin-left: 147px;
}
div.tags div{
	background-color: #fbfbfd;
	border-radius: 4px;
	padding: 0 5px;
	margin-top:5px;
	display: inline-block;
}
.close{
	color:blue; 
	font-size: 17px;
	/*margin-top:-4px; */
}
div.tags div a{
	font-size: 12px;
	margin-right: 5px;
}
div.tags div a:hover{
	text-decoration: none;
}
div.tags div:hover .close{
	color: red !important;
}


/* editing account settings */
#editAccountForm .form-elements, #editPassword .form-elements{
	margin-bottom: 14px;
}
#editAccountForm .form-fields, #editPassword .form-fields{
	height: 41px; 
}

#deleteAccountButton{
	background-color: #e3342f;
	border-color: #e3342f;
	color: white;
	position: absolute;
	top: 12px;
	right:13px;
	font-size: 11px;
}

#deleteAccountButton:focus{
	box-shadow: 0 0 0 0.2rem white;

}

/*changing password*/
.changePassword{
	color: #999;
    font-size: 14px;
    font-weight: 600;
    padding-left: 28%;
    margin-bottom: 8px;
}





/* iphod pro /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1200px) and (min-width: 1024px){
	.note{
	    margin-left: 22%;
	}
	.ErrorMessage{
	    margin-left: 120px;
	    margin-top: -24px
	}
	.inputErrors {
	    font-size: 10px;
	    margin-left: 24%;
	    margin-top: -3px;
	}
	div.confirmationBox{
		width: 360px;
		max-height: 182px;
		background: white;
		/*box-shadow:  0px 0px 10px 3px #b1a0a0;*/

		box-shadow: 0 2px 4px 800px rgba(59,64,69,0.2);
		border-radius: 10px;
		position: fixed;
		z-index: 1;
		top:42%;
		left: 39%;
		padding: 20px 0px;
		overflow: hidden;
		display: none;
	}
	div.confirmationBox a{
		margin: 37px 25px;
		pointer-events: initial !important;
	}
	.changeOptions{
		text-align: center;
		font-weight: bold;
	}
	.changeOptions a{
		text-decoration: none;
	}
	#textUpload a{
		color: #3fbbc0;
	}
	#text{
		font-size: 15px;
		padding-bottom: 10px;
	}
	#textRemove a{
		color: #e3342f;
	}
	#textCancel a{
		font-weight: normal;
		color: black;
	}
	a#topButtonP:focus{
		box-shadow: none;
	}

	/*editing part beggining*/

	#editParent{
		padding: 60px 130px; 
	}
	#editOptions{
		width: 30%;
		min-height: 900px;
	}
	.editForm{
		width: 70%;
	    padding: 23px 0px;
	    padding-right: 47px;
	    min-height: 900px;
	}
	.form-labels{
	    padding: 5px 14px;
	    font-size: 12px;
	    width: 113px;
	}
	#changePhoto {
	    padding: 0px 50px;
	}
	#username{
		font-size: 14px;
	}
	#changePhotoLink{
		font-size: 14px;
	}
	div#tags{
		left: 23px;
		width: 234px;
		font-size: 11px;
	}


	/*old filds*/
	div.tags{
	    margin-left: 112px;
	    margin-top: -12px;
	}

	/* editing account settings */
	.changePassword{
	    padding-left: 24%;
	}

}

/* below ipon pro //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1023px) and (min-width: 768px){
	.note{
	    margin-left: 24%;
	}
	.ErrorMessage{
	    margin-left: 117px;
	    margin-top: -24px
	}
	.inputErrors {
	    font-size: 10px;
	    margin-left: 24%;
	    margin-top: -3px;
	}
	div.confirmationBox{
		width: 360px;
		max-height: 182px;
		background: white;
		/*box-shadow:  0px 0px 10px 3px #b1a0a0;*/

		box-shadow: 0 2px 4px 800px rgba(59,64,69,0.2);
		border-radius: 10px;
		position: fixed;
		z-index: 1;
		top:42%;
		left: 39%;
		padding: 20px 0px;
		overflow: hidden;
		display: none;
	}
	div.confirmationBox a{
		margin: 37px 25px;
		pointer-events: initial !important;
	}
	.changeOptions{
		text-align: center;
		font-weight: bold;
	}
	.changeOptions a{
		text-decoration: none;
	}
	#textUpload a{
		color: #3fbbc0;
	}
	#text{
		font-size: 15px;
		padding-bottom: 10px;
	}
	#textRemove a{
		color: #e3342f;
	}
	#textCancel a{
		font-weight: normal;
		color: black;
	}
	a#topButtonP:focus{
		box-shadow: none;
	}

	#editParent{
		background-color: #fafafa;
		padding: 60px 0px;
	}
	#editOptions{
		width: 30%;
		min-height: 700px;
	}
	.editForm{
		width: 70%;
		padding: 16px 20px;
		padding-right:40px;
		min-height: 700px
	}
	.tabLinks{	
		padding-left:20px;
	    font-size: 13px;
	}
	.form-labels{
	    padding: 5px 14px;
	    font-size: 12px;
	    width: 113px;
	}
	#changePhoto{
		padding: 0px 49px;
	}

	#username{
		font-size: 14px;
	}
	#changePhotoLink{
		font-size: 13px;
	}

	/*old filds*/
	div.tags{
	    margin-left: 112px;
	    margin-top: -12px;
	}

	#deleteAccountButton {
	    font-size: 10px;
	}

	/* editing account settings */
	.changePassword{
	    padding-left: 24%;
	}

}
/* 640  - 769 /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 767px){
	.note{
	    margin-left: 2%;
	}
	.ErrorMessage{
	    margin-left: 0px;
	    margin-top: 0px
	}
	.inputErrors {
	    font-size: 9px;
	    margin-left:3px;
	    margin-top: 2px;
	}
	.serverMsgs{
	    height: 39px;
	    text-align: center;
	    font-size: 10px;
	    font-weight: bold;
	    font-size: 11px;
	    width: 100%;
	    padding-top: 9px;
	    margin-bottom: 0px;
	    margin-left: 0px;
	}
	div.confirmationBox{
		width: 320px;
		left: 9%;
	}
	#text{
		font-size: 15px;
	}
	#textRemove a{
		font-size: 13px;
		color: #e3342f;
	}
	#textUpload{
		font-size: 13px;
	}
	#textCancel a{
		font-size: 13px;
	}
	/* edit part */
	#editParent{
		background-color: #fafafa;
		padding: 0px 0px;
	}
	#editOptions{
		border: 1px solid #dbdbdb;
		background-color: white;
		width: 100%;
		display: inline-block;
		float: left;
		min-height: 20px;
		max-height: 100px;
		padding: 1px 0px;
		/*display: none;*/
	}
	.editForm{
		width: 100%;
		display: block;
		float: left;
		padding: 0px 0px;
		padding-right: 0px;
	}
	.tabLinks{	
		width: 32%;
		text-align: center;
		font-size: 9px;
		padding: 8px 7px 5px 0px;
		border-bottom: 0px;
		border: none;
	}
	.form-elements{
		margin-bottom: 12px;
		padding: 0px 23px;
	}
	.form-labels{
		width: 100% !important;
	    margin-bottom: 0px;
	    padding: 1px 0px;
		display: block;	
		font-size: 11px;
		text-align: left;
	}
	.genderLabels{
		font-size: 13px;
	}
	#changePhoto{
		margin-bottom: 0px;
	    padding: 0px 24px;
	    margin-top: 12px;
	}
	#username{
		font-weight: bold;
		font-size: 13px;
		display: block;
	}
	#changePhotoLink{
		color: #3fbbc0;
		font-weight: bold;
		text-decoration: none;
		font-size: 12px;
	}

	#loading{
		width: 40px;
		position: absolute;
		left: 0px;
		display: none;
		transition: 0.5s;
	}

	div#tags{
		width: 220px !important ;
		left: 12px;
		top: -236px;
		font-size: 11px;
	}

	div#tagInfo{
		background-color: white;
	    position: absolute;
	    right: 10px;
	    top: -244px;
	    padding: 12px 12px;
	    font-size: 11px;
	    font-weight: bold;
	    color: #6c6f71;
	    width: 226px;
	    box-shadow: 0 4px 8px rgba(59,64,69,0.2);
	    border-radius: 15px;
	    /*display: none;*/
	}
	span#tagInfoIcon{
		right: 19px;
	}

	/*old filds*/
	div.tags{
	    margin-left: 0px;
	    margin-top: 0px;
	}



	/* editing account settings */
	#deleteAccountButton {
	    top: 22px;
	    right: 13px;
	    font-size: 8px;
	}

	.changePassword{
	    padding-left: 6%;
	    margin-top: 12px;
	}



} 

/* for small screen sizes ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width:640px){
}

/* 320 px iphone 5se ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 320px){

	div.confirmationBox{
		width: 300px;
		left: 3%;
	}

}