div#loginForm-container{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	padding: 107px 32px;	
	padding-top: 65px;
	width: 349px;
	color: #999;	
}
div#signUpForm-container{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	padding: 70px 32px;	
	padding-top: 25px;
	color: #999;	
}
div#moreInfo-container{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	padding: 70px 32px;	
	padding-top: 0px;
	color: #999;
}

div#loginSignUpForm{
	padding: 15px 12px !important;

}
#form-title{
	margin-top: 20px;
}

div#loginButton{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	min-height: 50px;
	width: 349px;
	padding:12px 12px;
}
div#signUpButton{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	min-height: 50px;
	padding:12px 12px;
}
div#skipButton{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	min-height: 50px;
	padding:12px 12px;	
}
div#forget{
	margin-bottom: -49px;
}
div#loginSignUp-logo{
	width: 56px;
	height: 55px;
	background-color:#3fbbc0;
	border-radius: 71%;
	margin: 0 auto;
}
div#loginSignUpForm-container h5{
	margin-top: 15px;
}
.form_element{
	margin-bottom: 7px;
	height: 38px;
	border:1px solid #efefef; 
	background-color:#fafafa;
	font-size: 12px;
}
.more_form_element{
	margin-bottom: 7px;
	border:1px solid #efefef;
	font-size: 14px;
	color: #6d6161;
}
/* Added input-in-login class to input elements in login page because i want to just channge padding of login input not all form elements which is also in register page */
.input-in-login{
	padding-left: 25px !important;
}
.form-element-parent{
	position: relative;
}
.form-element-icon{
	/* I have added the important there because (fad) font awesome class has the position relative. inorder to over-Write that. note only fad not (fas,far,fal) */
	position: absolute !important;
	top: 12px;
	left: 6px;
}

/* The plus sign means that  i elememtn is palced immediatly after the focused element */
.form_element:focus + i.form-element-icon{ 
	color: #3fbbc0;
}
::placeholder{
	color: #999 !important;
}
#form_button{
	border-radius: 4px;
	margin-top: 14px;
	background-color: #3fbbc0 !important;
	border-color: #3fbbc0 !important;
}

div#loginSignUp-footer ul{
	text-transform: uppercase;
	list-style-type: none;
	padding: 12px 37px;
}
div#loginSignUp-footer ul li{
	display: inline;
	font-size: 12px;
	margin-left: 6px;
}
a{
	color: #3fbbc0;
}
a:hover{
	text-decoration: none;
}
p{
	font-size: 11px;
	/*margin-top: -4px;*/
}

.registerBackEndErrorMsgs{
	color: red;
}
.registerBackEndErrorInput{
	border:1px solid red !important;
	color: red !important;
}

div#userProfilePic{
	padding: 44px 40px;
    border-radius: 116px;
    border: 1px solid #3fbbc0;
    color: #3fbbc0;
    font-size: 70px;
}
#userProfilePicLink:hover{
	cursor: initial;
}
div#userProfilePic span{
	display: block;
	margin-top: 7px;
	font-size: 13px;
	font-weight: bold;
}
div#userProfilePic:hover{
	cursor: pointer;
	box-shadow:  0px 0px 4px 0px #3fbbc0;
}
.row-for-input{
	padding:0px 12px;
}

#country,#year, #month, #day{
	cursor: pointer;
}
#province,#district{
	cursor: not-allowed; 
	background-color:white;
	color: lightgray;
}
@media screen and (max-width: 640px){
	div#loginForm-container{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	div#signUpForm-container{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	div#moreInfo-container{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	div#loginButton{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	div#signUpButton{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	div#skipButton{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	.form_element{
		width: 100% !important;
	}
	.more_form_element{
		font-size: 13px;
		background-color:#fafafa;
	}
	div#DOBlabels{
		display: none;
	}
	.row-for-input{
		padding-left: 0px;
	}
	#province,#district{ 
		background-color:#fafafa;
	}
}	

@media screen and (max-width: 1000px) and (min-width: 641px){
	div#loginForm-container{
		margin-top: 200px;
	}
	div#signUpForm-container{
		margin-top: 150px;
	}
	div#moreInfo-container{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
		margin-top: 100px;
	}
	div#skipButton{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	.more_form_element{
		font-size: 13px;
		background-color:#fafafa;
	}
	div#DOBlabels{
		display: none;
	}
	.row-for-input{
		padding-left: 0px;
	}
	#province,#district{ 
		background-color:#fafafa;
	}
}

@media screen and (max-width: 1400px) and (min-width: 1001px){
	div#loginForm-container{
		margin-top: 200px;
	}
	div#signUpForm-container{
		margin-top: 200px;
	}
	div#moreInfo-container{
		margin-top: 200px;
	}
	.more_form_element{
		width: 12% !important;
	}

}