div#loginForm-container{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	padding: 107px 32px;	
	padding-top: 65px;
	width: 349px;
	color: #999;	
}
div#signUpForm-container{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	padding: 70px 32px;	
	padding-top: 25px;
	color: #999;	
}
div#loginSignUpForm{
	padding: 15px 12px !important;

}
#form-title{
	margin-top: 20px;
}

div#loginButton{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	min-height: 50px;
	width: 349px;
	padding:12px 12px;
}
div#signUpButton{
	background-color: white;
	margin: 10px auto;
	box-shadow: 0px 0px 1px 0px lightgray;
	min-height: 50px;
	padding:12px 12px;
}
div#forget{
	margin-bottom: -49px;
}
div#loginSignUp-logo{
	width: 56px;
	height: 55px;
	background-color:#3fbbc0;
	border-radius: 71%;
	margin: 0 auto;
}
div#loginSignUpForm-container h5{
	margin-top: 15px;
}
.form_element{
	margin-bottom: 7px;
	height: 38px;
	border:1px solid #efefef; 
	background-color:#fafafa;
	font-size: 12px;
}
::placeholder{
	color: #999 !important;
}
#form_button{
	border-radius: 4px;
	margin-top: 14px;
	background-color: #3fbbc0 !important;
}

div#loginSignUp-footer ul{
	text-transform: uppercase;
	list-style-type: none;
	padding: 12px 37px;
}
div#loginSignUp-footer ul li{
	display: inline;
	font-size: 12px;
	margin-left: 6px;
}
a{
	color: #3fbbc0;
}
a:hover{
	text-decoration: none;
}
p{
	font-size: 11px;
	/*margin-top: -4px;*/
}

.registerBackEndErrorMsgs{
	color: red;
}
.registerBackEndErrorInput{
	border:1px solid red !important;
	color: red !important;
}



@media screen and (max-width: 640px){
	div#loginForm-container{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	div#signUpForm-container{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	div#loginButton{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	div#signUpButton{
		background-color: #f8fafc;
		box-shadow: 0px 0px 0px 0px lightgray;
		width: 100%;
	}
	.form_element{
		width: 100% !important;
	}

}

@media screen and (max-width: 1000px) and (min-width: 641px){
	
}