@font-face{
	font-family: "Roboto-Black";
	src:url("../fonts/roboto/Roboto-Black.ttf");
}
@font-face{
	font-family: "Roboto-BlackItalic";
	src:url("../fonts/roboto/Roboto-BlackItalic.ttf");
}
@font-face{
	font-family: "Roboto-Bold";
	src:url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face{
	font-family: "Roboto-BoldItalic";
	src:url("../fonts/roboto/Roboto-BoldItalic.ttf");
}
@font-face{
	font-family: "Roboto-Italic";
	src:url("../fonts/roboto/Roboto-Italic.ttf");
}
@font-face{
	font-family: "Roboto-Light";
	src:url("../fonts/roboto/Roboto-Light.ttf");
}
@font-face{
	font-family: "Roboto-LightItalic";
	src:url("../fonts/roboto/Roboto-LightItalic.ttf");
}
@font-face{
	font-family: "Roboto-Medium";
	src:url("../fonts/roboto/Roboto-Medium.ttf");
}
@font-face{
	font-family: "Roboto-MediumItalic";
	src:url("../fonts/roboto/Roboto-MediumItalic.ttf");
}
@font-face{
	font-family: "Roboto-Regular";
	src:url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face{
	font-family: "Roboto-Thin";
	src:url("../fonts/roboto/Roboto-Thin.ttf");
}
@font-face{
	font-family: "Roboto-ThinItalic";
	src:url("../fonts/roboto/Roboto-ThinItalic.ttf");
}

body{
	background-color: white;
	padding-top: 118px;
}
div#parent-div{
	transition: margin-left .5s;
}
div#header-div{
	background-color: #3fbbc0;
	padding: 10px;
	max-height: 47px;
	position: fixed;
	z-index: 1;
	top: 0;
	transition:0.5s;
}

a.login-register{
	color:white;
	font-size: 13px;
	padding: 5px; 
	
}
a.login-register:hover{
	text-decoration: none;
	border: 1px solid white;
}
a#search-icon{
	color: white;
	font-size: 13px;
}
a#search-icon:hover{
	text-decoration: none;
	font-size: 16px;
}
div#search-box-div{
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
}
.search-box-button{
	display:none;
}

#search-box{
	border-left: none;
	border-top: none;
	border-right: none;
	border-radius: 0px;
	height: 46px;
	font-size: 13px;
	transition: height 0.5s;
}
#search-close-button{
	color: #3fbbc0;
	background-color: white;
	border-bottom: 1px solid #ced4da;
	padding-top: 9px;
	font-size: 17px;
	border-radius: 0px;
	transition: 0.5s !important;

}
#search-close-button:hover{
	cursor: pointer;	
}
span#timeAndDate{
	color: white;
	font-weight: bold;
}

div#sidebar-large{
	width: 100%;
	background-color: white;
	height: 70px;
	margin-top: -2px;
	position: fixed;
	z-index: 1;
	top: 48px;
	overflow: hidden;
	transition: 0.5s !important;
}
div#sidebar-large a:not(:first-child){
	color: #666;
	padding: 25px 16px;
	letter-spacing: 1px;
	font-size: 13px;
	float: right;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transition: padding 0.5s;
}
div#sidebar-large a:hover{
	color:#3fbbc0; 
}
div#logodiv{
	padding:10px;
	margin-top: 0px;
	width: 170px;
	margin-left: -12px;
	transition: width 0.5s;
	transition: margin-top 0.5s;
}

.active{
	color: #3fbbc0 !important;
}
.openbtn{
	margin-top: 14px;
	padding: 12px 16px !important;
	border-radius: 31px;
	display: none;
	transition: margin-top 0.5s;
}

div.sidebar-small
{	
	height: 100%;
	width: 0;
	background-color: white;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 0.5s;
	padding-top: 60px;
}
div#sidebar-small-child-div{
	margin-top: 17px;
}

.sidebar-small a:nth-child(1){
	text-decoration: none;
	color: #818181;
}
.sidebar-small a:not(:first-child){
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 14px;
	color: #818181;
	display: block;
	font-weight: bold;
	transition: 0.5s;
}
.sidebar-small a:hover {
	color: #3fbbc0;
}
#sidebar-small-child-div a.closebtn{
	position: absolute;
	top: 41px;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.sidebar-small-shadow{ /* added in javascript */
	box-shadow : lightgrey 2px 13px 22px
}

/*footer part*/
div#footer{
	background-color: #f2f2f2;
	
}
div#footer-content{
	padding: 12px;
}
div#footer-content h5{
	font-size: 14px;
	font-weight: bold;
	color: #6e7071;
	text-transform: uppercase;
}
div#footer-content a{
	color: #6e7071;
}
div#footer-content a span{
	font-size: 8px;
}

div#general a{
	display: block;
	color: #6e7071;
}	
div#omc a{
	display: block;
}
div#omc-network a{
	display: block;
}
div#social-links a{
	font-size: 20px;
}
div#social-links a:nth-child(2){
	color: #3b5998;
}
div#social-links a:nth-child(3){
	color: #0084b4;
}
div#social-links a:nth-child(4){
	color: #006192;
}
div#social-links a:nth-child(5){
	color: #211F1F;
}


@media screen and (max-width:640px){
	span#timeAndDate{
		display: none;
	}
	a.login-register{
		color:white;
		font-size: 12px;
		padding: 5px; 
	}
	div#sidebar-large{
		margin-top: -4px;
	}
	div#sidebar-large a:not(:first-child){
		display: none;
	}
	.openbtn{
		display: block !important;
		float: right;
	}
	div#logodiv{
		width: 140px;
	}
	div#logodiv a img{
		margin-top: 10px;
	}
	div#footer-content h5{
		font-size: 10px;
	}
	div#footer-content a{
		font-size: 13px;
	}
	div#omc, div#general, div#omc-network, div#social-links{
		width: 50%;
	}
	div#social-links, div#omc-network{
		margin-top: 20px;
	}
}


@media screen and (max-width:1000px) and (min-width: 641px){
	div#sidebar-large a:not(:first-child){
		display: none;
	}
	.openbtn{
		display: block !important;
		float: right;
	}
	div#logodiv{
		width: 170px;
	}
	div#logodiv a img{
		margin-top: 10px;
	}
	div#footer-content h5{
		font-size: 13px;
	}
}

