@font-face{
	font-family: "quicksand";
	src:url("../fonts/Quicksand-Regular.ttf");
}
@font-face{
	font-family: "quicksandMeduim";
	src:url("../fonts/Quicksand-Medium.ttf");
}

body{
	background-color: white;
	padding-top: 118px;
	font-family: quicksand;
}
a#topButton{
	background-color: white;
    padding: 16px 16px;
    border-radius: 26px;
    position: fixed;
    z-index: 1;
    right: 45px;
    bottom: 50px;
    font-size: 13px;
    box-shadow: 0px 0px 3px 2px lightgrey;	
	display: none;
}
a#topButton:focus{
	box-shadow: none;
}
::selection{
	background-color: #3fbbc0;
	color: white;
}
div#parent-div{
	transition: margin-left .5s;
}
div#header-div{
	background-color: #3fbbc0;
	padding: 10px;
	min-height: 48px;
	position: fixed;
	z-index: 1;
	top: 0;
	transition:0.5s;
}
div#header-div-content{
	padding: 0 40px;
}
a#signout{
	display: none;
}
a.login-register{
	color:white;
	font-size: 12px;
	padding: 5px;
	padding-left: 10px 
	padding-right: 10px;
	
}
a.login-register:hover{
	text-decoration: none;
	border: 1px solid white;
}
a#search-icon{
	color: white;
	font-size: 13px;
}
.search-icon1{
	margin-top: 4px;
	font-size: 18px !important;
}
.search-icon1:hover{
	font-size: 20px !important;
}
a#search-icon:hover{
	text-decoration: none;
	font-size: 16px;
}
div#search-box-div{
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
}
.search-box-button{
	display:none;
}

#search-box{
	border-left: none;
	border-top: none;
	border-right: none;
	border-radius: 0px;
	height: 46px;
	font-size: 13px;
	transition: height 0.5s;
}
#search-close-button{
	color: #3fbbc0;
	background-color: white;
	border-bottom: 1px solid #ced4da;
	padding-top: 9px;
	font-size: 17px;
	border-radius: 0px;
	transition: 0.5s !important;

}
#search-close-button:hover{
	cursor: pointer;	
}
span#timeAndDate{
	color: white;
	font-weight: bold;
}

div#sidebar-large{
	width: 100%;
	background-color: white;
	height: 70px;
	margin-top: -2px;
	position: fixed;
	z-index: 1;
	top: 48px;
	box-shadow: 0 1px 3px rgba(59,64,69,0.2);
	#overflow: hidden;
	transition: 0.5s !important;
}
div#sidebar-large a:not(:first-child){
	color: #666;
	padding: 25px 16px;
	letter-spacing: 1px;
	font-size: 12px;
	float: right;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transition: padding 0.5s;
}
a#userProfileIcon{
	text-transform: lowercase !important;

}
a#userProfileIcon i, a#userNotificationIcon i{
	font-size: 20px;

}
a#userProfileIcon, a#userNotificationIcon{
	padding-top: 23px;
	font-size: 12px;
	color: #666;
	letter-spacing: 1px;
	float: right;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transition: padding 0.5s;
}
a#userProfileIcon span{
	font-size: 11px;
}
div#dropdownContent{
	position: absolute;
	z-index: 1;
	top:66px;
	box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px;
	margin-left: 0px;
	display: none;
	padding: 12px 10px;
	width: 150px;
	background-color: white;
	border-color: rgba(27, 31, 35, 0.15);
	border-radius: 4px;
}
div#dropdownContent::after{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: -10px;
	left: 58%;
	transform: rotate(45deg);
	background-color:white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 0px solid white;
	border-right: 0px solid white;
}
div#dropdownContent a{
	color: #666;
	padding:1px 0px !important;
	font-size: 13px;
	float: none !important;
	font-weight: normal !important;
	text-transform: none !important;
	#text-decoration: none;
	transition: padding 0.5s;
	display: block !important;
}

div#dropdownContentNotifications{
	position: absolute;
	z-index: 1;
	top:66px;
	box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px;
	margin-left: -100px;
	display: none;
	padding: 2px 0px;
	padding-top: 14px;
	width: 250px;
	max-height: 500px;
	overflow: auto;
	background-color: white;
	border-color: rgba(27, 31, 35, 0.15);
	border-radius: 4px;
}
div#dropdownContentNotifications::after{
	content: "";
	position: absolute;
	z-index: 1 !important;
	width: 20px;
	height: 20px;
	top: -10px;
	left: 58%;
	transform: rotate(45deg);
	background-color:white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 0px solid white;
	border-right: 0px solid white;
}
div#dropdownContentNotifications a{
	color: #666;
	padding:1px 0px !important;
	font-size: 13px;
	float: none !important;
	font-weight: normal !important;
	text-transform: none !important;
	#text-decoration: none;
	transition: padding 0.5s;
	display: block !important;
}
#notificationBadge{
		font-size: 12px;
}
.notRead{
	background-color: #f3f3eb;
}
.QownerInfo{
	position: relative;
}
.QownerInfo img{
	position: absolute;
	z-index: 1;
	width: 37px; 
	height: 37px;
	left: 4px;
	display: inline-block;
	border-radius: 50%;
}
#Qno-owner-image{
	color: #3fbbc0;
	position: absolute;
	left: 4px;
	z-index: 1 !important;
	font-size: 35px;
}
div.QownerName{
	display: inline-block;
}
.QfullName{
	color: #3fbbc0;
}
.QfullName, .messageN{
	padding-left: 45px;
}
span.QcreateTime{
	color: #828282;
	display: table;
	font-size: 8px;
	margin-top: -3px;
	padding-left: 45px;
}

a#notificationLink {
	overflow: hidden;
}
a#notificationLink:hover {
	text-decoration: none;
}
#newOrNot{
	position: absolute;
	z-index: 1;
	right: 2px;
	top: 4px;
}


/*div#userProfileParent:hover div#dropdownContent{
	display: inline-block;
}*/
div#sidebar-large a:hover{
	color:#3fbbc0; 
}
div#logodiv{
	padding:10px;
	margin-top: 0px;
	width: 170px;
	margin-left: -12px;
	transition: width 0.5s;
	transition: margin-top 0.5s;
}

.active{
	color: #3fbbc0 !important;
}
.openbtn{
	margin-top: 14px;
	padding: 12px 16px !important;
	border-radius: 31px;
	display: none;
	transition: margin-top 0.5s;
}
/*.AddPostAskQuestion{
	padding: 3px 15px !important;
	margin-top: 21px !important; 
	margin-left: 10px !important;
	color: white !important;
	background-color: #3fbbc0;
}*/
.AddPostAskQuestionSmall{
	padding: 3px 15px !important;
	margin-top: -4px !important; 
	margin-left: 10px !important;
	color: #3fbbc0 !important;
	font-weight: bold;
	background-color: white;
	transition: .5s !important;
}
div.sidebar-small
{	
	height: 100%;
	width: 0;
	background-color: white;
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 0.5s;
	padding-top: 60px;
}
div#sidebar-small-child-div{
	margin-top: 17px;
}

.sidebar-small a:nth-child(1){
	text-decoration: none;
	color: #818181;
}
.sidebar-small a:not(:first-child){
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 13px;
	color: #818181;
	display: block;
	font-weight: bold;
	transition: 0.5s;
}
.sidebar-small a:hover {
	color: #3fbbc0;
}
#sidebar-small-child-div a.closebtn{
	position: absolute;
	top: 32px;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.sidebar-small-shadow{ /* added in javascript */
	box-shadow : lightgrey 2px 13px 22px
}
.smallMenuLogin{
	font-weight: normal !important;
	padding-top: 12px!important;
}
/*footer part*/
div#footer{
	background-color: #f2f2f2;
	
}
div#footer-content{
	padding: 12px;
}
div#footer-content h5{
	font-size: 14px;
	font-weight: bold;
	color: #6e7071;
	text-transform: uppercase;
}
div#footer-content a{
	color: #6e7071;
}
div#footer-content a span{
	font-size: 8px;
}

div#general a{
	display: block;
	color: #6e7071;
}	
div#omc a{
	display: block;
}

div#omc-network, div#social-links, div#omc, div#general{
	border-right: 1px solid #e0d0d0;
}


div#omc-network a{
	display: block;
}
div#social-links a{
	font-size: 20px;
}
div#social-links a:nth-child(2){
	color: #3b5998;
}
div#social-links a:nth-child(3){
	color: #0084b4;
}
div#social-links a:nth-child(4){
	color: #006192;
}
div#social-links a:nth-child(5){
	color: #211F1F;
}

#loginAlert{
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0px;
}
#loginAlert a{
	color: #3fbbc0;
	text-decoration: none;
}

/*///////////////////////////////////////////    ////////////////////////*/ 
@media screen and (max-width:640px){
	span#timeAndDate{
		display: none;
	}
	a.login-register{
		color:white;
		font-size: 12px;
		padding: 5px; 
	}
	a#signout{
		display: inline-block;
	}
	div#header-div-content{
		padding: 0 20px;
	}
	.search-icon1{
		margin-top: 5px;
		font-size: 15px !important;
	}
	.search-icon1:hover{
		font-size: 18px !important;
	}
	div#sidebar-large{
		margin-top: -4px;
	}
	div#sidebar-large a:not(:first-child){
		display: none;
	}
	div#userNotificationsParent, div#userNotificationsParent a{
		display: inline-block;
		margin-top: 2px;
	}
	a#userProfileIcon{
		display: none;
	}
	.openbtn{
		display: block !important;
		float: right;
	}
	div#logodiv{
		width: 140px;
	}
	div#logodiv a img{
		margin-top: 10px;
	}
	div#footer-content h5{
		font-size: 10px;
	}
	div#footer-content a{
		font-size: 13px;
	}
	div#omc, div#general, div#omc-network, div#social-links{
		width: 50%;
	}
	div#social-links, div#omc-network{
		margin-top: 20px;
	}
	#loginAlert{
		font-size: 11px;
		font-weight: normal;
	}

	/*notification part*/
	div#dropdownContentNotifications{
	    top: 52px;
	    margin-left: -150px;
	    padding-top: 0px;
	    width: 212px;
	    max-height: 370px;
	}
	div#dropdownContentNotifications::after{
		left: 77%;
	}
	div#dropdownContentNotifications a{
		font-size: 11px;
	}
	a#userNotificationIcon i{
		font-size: 18px;
	}
	#notificationBadge{
		font-size: 10px;
	}

}




@media screen and (max-width:1000px) and (min-width: 641px){
	div#sidebar-large a:not(:first-child){
		display: none;
	}
	div#userNotificationsParent, div#userNotificationsParent a{
		display: inline-block;
		margin-top: 2px;
	}
	.AddPostAskQuestionSmall{
		float: left;
		margin-top: 1px !important;
		font-size: 11px !important;
	
	}
	span#timeAndDate{
		display: none;
	}
	a#signout{
		display: inline-block;
	}
	a#userProfileIcon{
		display: none;
	}
	.openbtn{
		display: block !important;
		float: right;
	}
	div#logodiv{
		width: 170px;
	}
	div#logodiv a img{
		margin-top: 10px;
	}
	div#footer-content h5{
		font-size: 13px;
	}

		/*notification part*/
	div#dropdownContentNotifications{
	    top: 52px;
	    margin-left: -176px;
	    padding-top: 0px;
	    width: 227px;
	    max-height: 425px;
	}
	div#dropdownContentNotifications::after{
		left: 77%;
	}
	div#dropdownContentNotifications a{
		font-size: 11px;
	}
	a#userNotificationIcon i{
		font-size: 18px;
	}
	#notificationBadge{
		font-size: 10px;
	}
}
@media screen and (max-width:1400px) and (min-width: 1001px){
	div#dropdownContent{
		margin-left: -88px !important;
	}	

}

@media screen and (max-width: 640px){
	.AddPostAskQuestionSmall{
		padding-top: 4px !important;
		float: left;
		margin-top: 3px !important;
		margin-left: -22px !important;
		font-size: 9px !important;
	
	}
	a#topButton{
	    padding: 12px 12px;
	    right: 5px;
	    font-size: 10px;
	}
}
