div#footer{
	margin-top: 500px;
}

div.relatedInfoList{
	width: 360px;
    background: white;
    box-shadow: 0px 0px 10px 3px #eaeaea;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    top: 42%;
    left: 24%;
    overflow: hidden;
	display: none;
}
.relatedInfoHeader{
    width: 100%;
   	max-height: 40px;
    box-shadow: 0 1px 3px rgba(59,64,69,0.2);
    overflow: hidden;
    text-align: center;
}
.relatedInfoBody{
	padding: 5px 12px;
	height: 311px;
	overflow: auto;
}
div.relatedInfoHeader button.close{
	margin-right: 5px;
    font-size: 44px;
    margin-top: -7px;
    font-weight: lighter;
}
div.relatedInfoHeader h6{
	font-weight: bold;
    font-size: 14px;
    padding-top: 11px;
    color: #9ba1a7;
}
div.relatedInfoList h4{
	font-weight: bold;
    font-size: 14px;
    padding-top: 11px;
    text-align: center;
    color: #9ba1a7;
}
.voterFollowerImage{
	width: 14%;
	overflow: hidden;
	float: left;
	display: inline-block;
}
.voterFollowerImage img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.no-image-in-relatedInfo{
	padding: 8px 10px;
    border-radius: 50%;
	border: 1px solid #3fbbc0;
 	color: #3fbbc0;
    font-size: 16px;
    height: 35px;
    width: 35px;
}

.fullNameRelatedInfo{
	margin-left: 1px;
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
}
.ByRelatedInfo{
	margin-left: 1px;
	display: table;
	font-size: 9px;
}


div.confirmationBox{
	width: 273px;
	height: 160px;
	background: white;
	box-shadow: 0 2px 4px 800px rgba(59,64,69,0.2);
	border-radius: 10px;
	position: fixed;
	z-index: 1;
	top:42%;
	left: 39%;
	padding: 20px 20px;
	overflow: hidden;
	display: none;
}
div.confirmationBox a{
	margin: 37px 25px;
	pointer-events: initial !important;
}
a#topButtonP:focus{
	box-shadow: none;
}
div#followDoctorParent{
	position: absolute;
	right: 95px;
	float: right;
	top: 110px;
	width: 23%;
	margin-top: 20px;
	/*margin-top: 81px;*/
	overflow: hidden;
	box-shadow:  0 1px 3px rgba(59,64,69,0.2);
}
#card-heading{
	font-size: 11px;
	font-weight: bold;
	color:#9ba1a7;
}
.card-header{
	background-color: #fbfbfd;
}
.card-body{
	padding: 6px 8px;
}
.doctorImage{
	width: 17%;
	overflow: hidden;
	float: left;
	display: inline-block;
}
.doctorImage img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.followDoctor{
	width: 83% !important;
	display: inline-block;
}
.fullName{
	margin-left: 5px;
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
}
.followedBy{
	margin-left: 5px;
	display: table;
	font-size: 9px;
}
.followingButton{
	background-color: #3fbbc0;
	color: white;
	font-size: 10px;
	margin-top: -27px;
}
.no-image-in-following{
	padding: 8px 10px;
    border-radius: 50%;
	border: 1px solid #3fbbc0;
 	color: #3fbbc0;
    font-size: 16px;
    height: 35px;
    width: 35px;
}
.followingButton:hover{
	color: white;
}
div#forDoctors{
	position: absolute;
	width: 19%;
	right: 94px;
	float: right;
	margin-top: 20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(59,64,69,0.2);
    padding: 20px 6px;
    font-size: 13px;
}
div#Forguests{
	position: absolute;	
	right: 94px;
	width: 20%;
	float: right;
	margin-top: 20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(59,64,69,0.2);
    padding: 20px 6px;
    font-size: 13px;
}
#forGuests a{
	color: #3fbbc0;
}
#forGuests a{
	color: #3fbbc0;
}
.forGuestsBtn{
	font-size: 10px;
	border:1px solid #3fbbc0;
	margin-top: 8px;
	transition: .5s;
}
.forGuestsBtn:hover{
	background-color: #3fbbc0;
	color: white;
}
.iconsForDoctors{
	color: #3fbbc0;
	font-size: 25px;
	margin-bottom: 12px;
}



/* Main Content */
#mainContent{
	/*background-color: #fbfbfd;*/
	width: 60%;
	margin-top: 12px;
	padding: 12px 12px;
	overflow: hidden;
}
.messages{
	box-shadow: 0px 0px 20px 0px #d7f3e3; 
	min-height: 35px;
    font-size: 11px;
    font-weight:bold;
}
.messsages a{
	color: #3fbbc0;
}
#heading{
	border-bottom: 1px solid #e5e5ec;
	padding-bottom: 6px;
	overflow: hidden;
}
#heading h2{
	font-weight: bold;
}
#relatedInfo{
	/*background-color: green;*/
	overflow: hidden;
}
#relatedInfo a{
	background-color: #fbfbfd;
	color: #949494;
	font-size: 9px;
	transition: 0.5s;
}
#relatedInfo a:hover{
	font-size: 10px;
}
.count{
	font-weight: bold;
}

#shareOptions{
	position: absolute;
	z-index: 1 !important;
	box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px;
	padding: 2px 12px;
	display: none;
	width: 100px;
	margin-left: -50px;
	margin-top: 17px;
	text-align: left;
	background-color: white;
	border-color: rgba(27, 31, 35, 0.15);
	border-radius: 4px;

}
#shareOptions::after{
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	transform: rotate(45deg);
	top: -9px;
	left: 42%;
	background-color: white;
	border-top: 1px solid  #c3bfbf;
	border-left: 1px solid  #c3bfbf;
	border-right: 0px solid  white;
	border-bottom: 0px solid  white;
}

div#shareOptions  li{
	list-style-type: none;
}
div#shareOptions  li a{
	color: #828282;
	list-style-type: none;
}
div#shareOptions a.social-button span{
	text-decoration: none;
	font-size: 11px;
	margin-left: 3px;
}
div#shareOptions a#share-facebook::after{
	content: "Facebook";
	margin-left: 3px;
}
.PostEditDelete{
	font-size: 11px !important;
}
div#shareOptions a#share-twitter::after{
	content: "Twitter";
	margin-left: 3px;
}
div#shareOptions a#share-linkedIn::after{
	content: "Linkedin";
	margin-left: 3px;
}
div#shareOptions a#share-whatsapp::after{
	content: "Whatsapp";
	margin-left: 3px;
}
div#shareOptions a#share-telegram::after{
	content: "Telegram";
	margin-left: 3px;
}
div#shareOptions a.share{
	font-size: 11px;
}

div#shareOptions div.dropdown-divider{
	margin-top: 0px;
	margin-bottom: 0px;
}

div#shareOptions p{
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
	margin-top: 4px;
	font-size: 10px;
}

/* owner info part */
#ownerInfo{
	
	padding-top: 5px;
	padding-left: 5px;
}
#ownerInfo img{
	width: 60px; 
	height: 60px;
	display: inline-block;
	border-radius: 50%;
}
#no-owner-image{
	padding: 13px 16px;
    border-radius: 50%;
	border: 1px solid #3fbbc0;
 	color: #3fbbc0;
    font-size: 20px;
    height: 50px;
    width: 50px;
}
div#ownerName{
	display: inline-block;
	padding-left: 12px;
}
#fullName{
	color: #3fbbc0;
}
span#createTime{
	color: #828282;
	display: table;
	font-size: 8px;
	margin-top: -3px;
}
a#linkToProfile:hover{
	text-decoration: none;
}
a#linkToProfile:hover span#fullName{
	text-decoration: underline;
}
#followButton{
	border: 1px solid #c9dbdc;
    font-weight: bold;
    color: #828282;
    font-size: 13px;
    transition: 0.5s;
}
#followButton:hover{
	background-color: #3fbbc0;
	color:white;
}

/* content part */
#content{
	overflow: hidden;
}
div.tags{
	margin-bottom: 2px;
}
div.tags span{
	background-color: #fbfbfd;
	border-radius: 4px;
	padding: 0 5px;
}
div.tags span a{
	font-size: 10px;
}
#contentImageDiv{
	width: 100%;
	border:1px solid #fbfbfd;
	overflow: hidden;
	border-radius: 5px;
}
#contentImageDiv img{
	width: 100%;
	border-radius: 5px;
	max-height: 700px;
}
#contentText{
	text-align: justify;
	font-size: 14px;
	padding-top: 12px;
}
.readMoreLess{
	color: #3fbbc0;
	font-size: 11px;
}
/* options for  part */
div.Contentoptions{
	width: 100%;
	text-align: center;
}
div.Contentoptions button{
	background-color:#fbfbfd; 
	border-radius: 15px;
	font-weight: bold;
	font-size: 10px;
	height: 35px;
	margin-bottom: 4px;
	transition: .5s;
}
div.Contentoptions button:focus{
	box-shadow: none;
}
div.Contentoptions button a{
	color: #828282;
}
div.Contentoptions button a:hover{
	text-decoration: none;
}
div.Contentoptions button:hover{
	font-size: 11px;
}
span.optionsIcons{
	font-size: 12px;
	margin-right: 4px;
}
div.Contentoptions button:hover span.optionsIcons{
	color: #3fbbc0;
}

/* class added using ajax to check span */
.upVotedCheck{
	font-size: 11px;
	color: #3fbbc0;
}
button.OptionsForGuest{
	cursor:default;
}
button.OptionsForGuest a{
	cursor: default;
}
button.followed span{
	color: #3fbbc0;
}

/* Comment part */
div#commentPart{
	background-color: #fbfbfd;
	width: 100%;
	border:1px solid #f1f1f1;
	border-radius: 12px;
	margin: 0 auto;
	margin-top: 3px;
	padding: 14px 25px;
}

div#commentPartImage{
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 7%;
}
div#commentPartImage img{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
}
div#comment{
	display: inline-block;
	width: 93%; 
}
.commentField{
	border-radius: 10px !important;
	font-size: 12px;
	overflow: hidden;
	resize: none;	
	padding: 5px 30px;
	z-index: 0 !important;
}
.commentField:focus{
	box-shadow: 0px 0px 1px 0px #3fbbc0;
}
.addCommentBtn{
	border:1px solid #3fbbc0;
	background-color: #3fbbc0;
	border-radius: 40px;
	color: white;
	height: 30px;
	margin-left: 6px;
	font-size:12px; 
	transition: 0.5s;
}
.addCommentBtn:hover{
	color: white;
}

#no-image-in-comment{
	padding: 7px 7px;
    border-radius: 50%;
    border: 1px solid #3fbbc0;
    color: #3fbbc0;
    font-size: 15px;
    height: 30px;
    width: 30px;
}
.commentPhotoButton{
	position: absolute !important;
	color: #3fbbc0;
	top: 6px;
	font-size: 18px;
	left: 6px;
	cursor: pointer;
}
.commentPhotoField{
	display: none;
}

div.commentImageDiv{
	width: 98%;
	display: none;
	overflow: hidden;
    max-height: 180px;
    border-radius: 10px;
    border:1px solid lightgray;
    overflow: hidden;
    padding: 12px 20px;
    margin-bottom: 12px;
}
div.commentImageDiv img{
	max-width: 150px;
	max-height: 150px;
	border-radius: 12px;
}
button.removeImage{
	color: red;
	font-size: 18px !important; 
}
.removeEditCommentPhotoText{
	font-size: 12px !important;
}
div.commentImageDiv a{
	float: left;
}
div.commentImageDiv a:hover{
	color: black;
	text-decoration: none;
}
div.commentImageDiv button:focus{
	outline: none;
}
div.commentImageVideoErrorMsg, div.replyImageVideoErrorMsg{
	box-shadow: 0px 0px 20px 0px #d7f3e3;
	width: 80%;
	display: none;
	margin-top: 7px; 
	font-size: 12px;
	overflow: hidden;
	margin-left: 49px;
    height: 36px;
    padding-top: 8px;
    text-align: center;
}
div.commentSuccessMsgs, div.replySuccessMsgs{
	box-shadow: 0px 0px 20px 0px #d7f3e3;
	width: 80%;
	font-size: 12px;
	display: none;
	margin-left: 36px;
	text-align: center;
	height: 36px;
    padding-top: 8px;
}
button.commentManageOptions{
	background: inherit;
    border: none;
    font-weight: normal !important;
    font-size: 10px;

}
button.commentManageOptions:focus{
	outline: 0px;

}
/* Showing all comments part */
div.allComments{
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
	background-color: #fbfbfd;
	padding: 12px 0px;
	padding-left:30px;  
	display: none;
}
.no-comment{
	font-size: 11px;
	font-weight: bold;
}
.comments-count{
	margin-left: 30px !important;
	font-size: 11px;
}
div.allcommentsOwnerImage{
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
}
div.allcommentsOwnerImage img{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
}
div.commentOwnerName{
	display: inline-block;
}
div.commentOwnerName a{
	margin-left: 3px;
	color: #3fbbc0;
	font-weight: bold;
	font-size: 12px;
}
div.commentOwnerName span.commentcreateTime{
	color: #828282;
	display: table;
	margin-left: 3px;
	margin-top: -5px;
	font-size: 8px;
}
div.allCommentsContent p{
	padding-right: 4px; 
	margin-bottom: 0px;
	padding-top: 5px;
	overflow: hidden;
	font-size: 12px;
}
#commentImage{
	width: 100%;
	border:1px solid lightgray;
	border-radius: 5px;
}
#commentImage img{
	max-width: 100%;
	max-height: 250px;
	border-radius: 5px;
}
div#dividerForComments{
	margin-top:0;
	margin-bottom: 10px;
}
/*End of showing all comments part*/

/* Beggining :options part for comments part*/
div.commetOptions{
	width: 100%;
	margin: 0 auto;
}
div.commetOptions button{
	border-radius: 15px;
	font-weight: bold;
	font-size: 11px;
	color: #666;
	height: 25px;
	margin-bottom: 4px;
	transition: .5s;
}
div.commetOptions button:focus{
	box-shadow: none;
}
div.commetOptions button:hover{
	background-color: #efefef;
}
div.commetOptions button a{
	color: #666;
	text-decoration: none;
}
span.commentVotes{
	font-weight: lighter;
}
span.commentOptionsIcons{
	font-size: 12px;
}
div.commetOptions button:hover span.commentOptionsIcons{
	color: #3fbbc0;
}
button.commentManageOptions{
	background: inherit;
    border: none;
    font-weight: normal !important;
    font-size: 10px;

}
button.commentManageOptions:focus{
	outline: 0px;

}
/* End :options part for comments part*/

/* Beggining of the form of replies */
div.reply{
	display: none;
	width: 93%; 
	margin-left: 5px;
	margin-bottom: 5px;
	margin-bottom: 12px;
	margin-top: 12px;
	padding: 0 12px;
	
}
.replyField{
	border-radius: 10px !important;
	font-size: 11px;
	overflow: hidden;
	resize: none;	
	padding: 5px 30px;
	z-index: 0 !important;
}
.replyField:focus{
	box-shadow: 0px 0px 1px 0px #3fbbc0;
}
.addReplyBtn{
	border:1px solid #3fbbc0;
	background-color: #3fbbc0;
	border-radius: 40px;
	color: white;
	height: 30px;
	margin-left: 6px;
	font-size:12px; 
	transition: 0.5s;
}
.addReplyBtn:hover{
	color: white;
}

.replyPhotoButton{
	position: absolute !important;
	color: #3fbbc0;
	top: 6px;
	font-size: 16px;
	left: 6px;
	cursor: pointer;
}
.replyPhotoField{
	display: none;
}
/* End of the form of replies */

/* Beggining of the showing all replies */
div.allReplies{
	overflow:hidden;
	border-left: 1px solid #f2f2f2;
	padding-left: 30px;
	display: none;
	margin-bottom: 12px;
}
div.reply-parent{
	display: none;
}
div.allRepliesOwnerImage{
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
}
div.allRepliesOwnerImage img{
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
}
div.replyOwnerName{
	display: inline-block;
}
div.replyOwnerName a{
	margin-left: 3px;
	color: black;
	font-weight: bold;
	font-size: 12px;
}
div.replyOwnerName span.replyCreateTime{
	color: #828282;
	display: table;
	margin-left: 3px;
	margin-top: -5px;
	font-size: 10px;
}
div.allRepliessContent p{
	padding-right: 4px; 
	font-size: 12px;
	margin-left: 27px;
	overflow:hidden;
	margin-bottom: 4px;
}
.replyImage{
	width: 80%;
	margin:0 auto;
	margin-bottom: 12px;
	border:1px solid lightgray;
	border-radius: 5px;
}
.replyImage img{
	max-width: 100%;
	max-height: 160px !important;
	border-radius:5px;
}
#no-image-in-reply{
	padding: 6px 6px;
    border-radius: 50%;
    border: 1px solid #3fbbc0;
    color: #3fbbc0;
    font-size: 12px;
    height: 25px;
    width: 25px;
}
div.reply-divider{
	margin-top: 0px;
}

.replies-count{
	font-size: 11px;
}
/* End of the showing all replies */



div::-webkit-scrollbar {
    width: 4px !important;
}
textarea::-webkit-scrollbar {
    width: 4px !important;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}
 
*::-webkit-scrollbar-thumb {
  background-color:gray !important;
  outline: 1px solid slategrey !important;
} 




/* ///////////////////////////////////////////////////////////////// IPHAD PRO /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1200px) and (min-width: 1024px){
	div.relatedInfoList{
	    top: 21%;
	    left: 16%;
	}
	div.confirmationBox{
		left: 18%;
	}
	div#followDoctorParent{
		right: 80px;
	}
	#card-heading{
		font-size: 9px;
	}
	.doctorImage img{
		width: 35px;
		height: 35px;
		border-radius: 50%;
	}
	.fullName{
		font-size: 10px;
	}
	.followedBy{
		font-size: 8px;
	}
	.followingButton{
		font-size: 9px;
	}
	.no-image-in-following{
		padding: 8px 9px;
	    border-radius: 50%;
		border: 1px solid #3fbbc0;
	 	color: #3fbbc0;
	    font-size: 15px;
	    height: 32px;
	    width: 32px;
	}
	div#forDoctors{
	    font-size: 12px;
	}
	div#Forguests{
	    font-size: 12px;
	}
	.forGuestsBtn{
		font-size: 8px;
	}
	.iconsForDoctors{
		font-size: 25px;
	}
	/* Main Content */
	#heading h2{
		font-size: 26px;
	}
	/* owner info part */
	#fullName{
		font-size: 13px;
	}
	span#createTime{
		font-size: 7px;
	}
	#followButton{
	    font-size: 11px;
	}
	/* content part */
	div.tags span a{
		font-size: 9px;
	}
	.readMoreLess{
		font-size: 10px;
	}
	/* content options */
	div.Contentoptions button{
		font-size: 9px;
	}
	div.Contentoptions button:hover{
		font-size: 10px;
	}
	span.optionsIcons{
		font-size: 11px;

	}
	.upVotedCheck{
		font-size: 10px;
	}

}


/* ///////////////////////////////////////////////////////////////// IPHAD /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1023px) and (min-width: 768px){
	div.relatedInfoList{
	    top: 33%;
	    left: 12%;
	}
	div.confirmationBox{
		left: 15%;
	}
	div#followDoctorParent{
		right: 41px;width: 30%;
	}
	#card-heading{
		font-size: 8px;
	}
	.doctorImage img{
		width: 30px;
		height: 30px;
	}
	.fullName{
		font-size: 8px;
	}
	.followedBy{
		font-size: 7px;
	}
	.followingButton{
		font-size: 7px;
	}
	.no-image-in-following{
		padding: 7px 8px;font-size: 14px;height: 30px;width: 30px;
	}
	div#forDoctors{
		width: 26%;right: 59px;font-size: 10px;
	}
	div#Forguests{
		right: 63px;width: 26%;font-size: 10px;
	}
	.forGuestsBtn{
		font-size: 7px;
	}
	.iconsForDoctors{
		font-size: 20px;
	}
	/* Main Content */
	#heading h2{
		font-size: 20px;
	}
		/* owner info part */
	#fullName{
		font-size: 13px;
	}
	span#createTime{
		font-size: 7px;
	}
	#followButton{
	    font-size: 11px;
	}
	/* content part */
	div.tags span a{
		font-size: 8px;
	}
	.readMoreLess{
		font-size: 9px;
	}
	#contentText{
		font-size: 13px;;
	}
	/* content options */
	.ContentOptionsText{
		display: none;
	}
	span.optionsIcons{
		font-size: 11px;

	}
	.upVotedCheck{
		font-size: 10px;
	}
/* Comment part */
	div#commentPart{
		padding:12px 3px;
	}
	div.allComments{
		padding-left:5px;  
	}
	div#commentPartImage{
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 8%;
	}
	div#comment{
		width: 92%; 
	}
	div#commentPartImage img{
		width: 27px;
		height: 27px;
	}
	.commentField{
		width: 100% !important;
		margin-left: 4px;
		font-size: 11px;
	}
	.addCommentBtn{
		height: 23px;
		margin-left: 6px;
		font-size:11px; 
		margin-top: 3px;
		padding-top: 2px;
	}
	#no-image-in-comment{
		padding: 5px 6px;
	    font-size: 15px;
	    height: 27px;
	    width: 27px;
	}
	.commentPhotoButton{
		top: 5px;
	    font-size: 17px;
	    left: 11px;
	}
	div.commentImageDiv img{
		max-width: 100px;
		max-height: 100px;
	}
	.removeEditCommentPhotoText{
		font-size: 9px !important;
	}

	div.commentImageVideoErrorMsg, div.replyImageVideoErrorMsg{
		font-size: 10px;
	}
	div.commentSuccessMsgs, div.replySuccessMsgs{
		font-size: 10px;
	}
	button.commentManageOptions{		
	    font-size: 9px !important;
	}

	/* Showing all comments part */
	.no-comment{
		font-size: 10px;
	}
	.comments-count{
		margin-left: 5px !important;
		font-size: 9px;
	}

	div.commentOwnerName a{
		font-size: 11px;
	}
	div.commentOwnerName span.commentcreateTime{
		font-size: 7px;
	}
	div.allCommentsContent p{
		font-size: 11px;
	}
	#commentImage img{
		max-height: 170px;
		max-width: 100%;
	}
	/*End of showing all comments part*/

	/* Beggining :options part for comments part*/
	div.commetOptions button{
		font-size: 10px;
	}
	span.commentOptionsIcons{
		font-size: 11px;
	}
	/* End :options part for comments part*/

	/* Beggining of the form of replies */
	div.reply{
		width: 100%;
		margin-left: 0px;
		padding: 0 6px;
		
	}
	.replyField{
		font-size: 10px;
	}
	.addReplyBtn{
		height: 26px;
		font-size:10px;
	}
	.replyPhotoButton{
		font-size: 15px;
		left: 8px;
	}
/* End of the form of replies */

/* Beggining of the showing all replies */
	div.allReplies{
		padding-left: 12px;
	}
	div.replyOwnerName a{
		font-size: 11px;
	}
	div.replyOwnerName span.replyCreateTime{
		font-size: 9px;
	}
	div.allRepliessContent p{
		font-size: 10px;
	}
	.replyImage img{
		max-height: 150px !important;
	}
	.replies-count{
		font-size: 10px;
	}
	/* End of the showing all replies */

}
/* ///////////////////////////////////////////////////////////////// Samll sizes rotate /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 767px){
	div.relatedInfoList{
	    width: 252px;
	    background: white;
	    box-shadow: 0px 0px 10px 3px #eaeaea;
	    border-radius: 10px;
	    position: fixed;
	    z-index: 1;
	    top: 33%;
	    left: 10%;
	    left: 14%;
	}
	.relatedInfoHeader{
    width: 100%;
   	max-height: 40px;
    box-shadow: 0 1px 3px rgba(59,64,69,0.2);
    overflow: hidden;
    text-align: center;
	}
	div.relatedInfoHeader button.close{
	    font-size: 40px;
	}
	div.relatedInfoHeader h6{
	    font-size: 13px;
	}
	div.relatedInfoList h4{
	    font-size: 13px;
	}
	.voterFollowerImage{
		width: 13%;
	}
	.voterFollowerImage img{
		width: 30px;
		height: 30px;
	}
	.no-image-in-relatedInfo{
		padding: 7px 8px;
	    font-size: 14px;
	    height: 30px;
	    width: 30px;
	}

	.fullNameRelatedInfo{
		margin-left: 6px;
		font-size: 10px;

	}
	.ByRelatedInfo{
		margin-left: 6px;
		font-size: 8px;
	}

	div.confirmationBox{
	    left: 31%;
	}
	div#followDoctorParent{
		display: none;
	}
	div#forDoctors{
	    display: none;
	}
	div#Forguests{
	    display: none;
	}
	/* Main Content */
	#mainContent{
		/*background-color: #fbfbfd;*/
		width: 100%;
		padding: 12px 4px;
	}
	#heading h2{
		font-size: 18px;
		font-weight: bold;
	}
	#relatedInfo{
		display: inline-block;
	}
	#relatedInfo a{
		font-size: 6px;
	}
	#relatedInfo a:hover{
		font-size: 7px;
	}
	#shareOptions{
		margin-left: -76px;
	}
	#shareOptions::after{
		left: 70%;
	}
	#shareBtn{
		margin-top: -6px;
	}
	/* owner info part */
	#ownerInfo img{
		width: 50px; 
		height: 50px;
	}
	#no-owner-image{
		padding: 10px 13px;
	    font-size: 17px;
	    height: 40px;
	    width: 40px;
	}
	div#ownerName{
		padding-left: 3px;
	}
	#fullName{
		font-size: 11px;
	}
	span#createTime{
		font-size: 7px;
	}
	#followButton{
	    font-size: 10px;
	}
		/* content part */
	div.tags{
		margin-top: 4px;
		margin-bottom: 0px;
	}
	div.tags span a{
		font-size: 7px;
	}
	.readMoreLess{
		font-size: 8px;
	}
	#contentText{
		font-size: 12px;;
	}
	/*content options*/
	.ContentOptionsText{
		display: none;
	}
	span.optionsIcons{
		font-size: 10px;

	}
	.upVotedCheck{
		font-size: 9px;
	}
	/* Comment part */
	div#commentPart{
		padding: 14px 3px;
	}

	div#commentPartImage{
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 10%;
	}
	div#commentPartImage img{
		width: 27px;
		height: 27px;
	}
	div#comment{
		width: 90%; 
	}
	.commentField{
		width: 100% !important;
		font-size: 10px;
	}
	.addCommentBtn{
		height: 25px;
	    margin-top: 3px;
	    margin-left: 1px;
	    font-size: 11px;
	}
	#no-image-in-comment{
		padding: 6px 7px;
	    font-size: 14px;
	    height: 28px;
	    width: 28px;
	}
	.commentPhotoButton{
		top: 5px;
		font-size: 16px;
		left: 7px;
	}
	div.commentImageDiv{
	    padding: 12px 6px;
	}
	div.commentImageDiv img{
		max-width: 95px;
		max-height: 95px;
	}
	.removeEditCommentPhotoText{
		font-size: 9px !important;
	}
	div.commentImageVideoErrorMsg, div.replyImageVideoErrorMsg{ 
		font-size: 9px;
	}
	div.commentSuccessMsgs, div.replySuccessMsgs{
		font-size: 9px;
	}
	button.commentManageOptions{
	    font-size: 8px !important;

	}
	/* Showing all comments part */
	div.allComments{
		padding-left:5px;  
	}
	.no-comment{
		font-size: 10px;
	}
	.comments-count{
		margin-left: 6px !important;
		font-size: 10px;
	}
	div.allcommentsOwnerImage img{
		width: 28px;
		height: 28px;
	}
	div.commentOwnerName a{
		font-size: 11px;
	}
	div.commentOwnerName span.commentcreateTime{
		font-size: 8px;
	}
	div.allCommentsContent p{
		font-size: 11px;
	}
	#commentImage img{
		max-width: 100%;
		max-height: 200px;
		border-radius: 5px;
	}

	/*End of showing all comments part*/

	/* Beggining :options part for comments part*/
	div.commetOptions button{
		font-size: 9px;
	}
	span.commentOptionsIcons{
		font-size: 10px;
	}
	/* End :options part for comments part*/

		/* Beggining of the form of replies */
	div.reply{
		/*display: none;*/
		width: 100%; 
		margin-left: 0px;
		padding: 0 0px;
		
	}
	.replyField{
		width: 100% !important;
		border-radius: 10px !important;
		font-size: 10px;
	}
	.addReplyBtn{
		height: 25px;
	    margin-left: 3px;
	    font-size: 10px;
	    margin-top: 3px;
	    transition: 0.5s
	}
	/* End of the form of replies */

	/* Beggining of the showing all replies */
	div.allReplies{
		padding-left: 9px;
	}
	div.replyOwnerName a{
		font-size: 11px;
	}
	div.replyOwnerName span.replyCreateTime{
		font-size: 9px;
	}
	div.allRepliessContent p{
		font-size: 11px;
		margin-left: 3px;
	}
	.replyImage img{
		max-height: 120px !important;
	}
	/* End of the showing all replies */

	.messages{
		width: 100% !important;
	}


}
/* ///////////////////////////////////////////////////////////////// Samll sizes /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 468px){
	div.confirmationBox{
		width: 222px;
		height: 117px;
	    top: 41%;
	    left: 20%;
	    font-size: 12px;
	    padding: 12px 7px;
	}
	div.confirmationBox a{
		margin: 24px 23px;
   		 font-size: 11px;
	}
}
/* ///////////////////////////////////////////////////////////////// Very Samll sizes /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 320px){
	#relatedInfo a{
		font-size: 5px;
	}
	#relatedInfo a:hover{
		font-size: 5px;
	}
	#followButton{
	    font-size: 9px;
	}
	div.confirmationBox{
	    left: 17%;
	}
}