/*Begging of part one*/
div#addPostParent{
	background-color: #fbfbfd;
	min-height: 500px;
	position: relative;
}
#mainTitle{
	position: absolute;
	top: 20px;
}
div#tips{
	width: 30% !important;
	float: right;
	margin-top: 60px;
	font-size: 13px;
	overflow: hidden;
}
div#headerForLarge{
	display: inline-block;
}
span#noteHeading{
	font-weight: bold;
	color: #9ba1a7;
}

#note{
	display: block;
	margin-bottom: 6px;
	font:small-caption;
}
#caution{
	display: block;
	margin-bottom: 30px;
	font:small-caption;
	
}
.tipsContent{
	font:small-caption;
	display: none;
	padding: 7px 0px;
	padding-left: 24px;
}
.tipsButton{
	font-weight: bold;
	cursor: pointer;
	margin-left: 12px;
}
div#tips ol{
	padding:0;
	padding-left: 12px;
}
div#headerForSmall{
	display: none;
	cursor: pointer;
	font-weight: bold;
}
/*End of part one*/

/* ///////////////////////////////////////////////////////////////// IPHAD PRO /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1200px) and (min-width: 1024px){

}

/* ///////////////////////////////////////////////////////////////// IPHAD /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1023px) and (min-width: 768px){
	/*Begging of part one*/
	#mainTitle{
		left: 22px;
		top: 15px;
		font-size: 23px;
	}
	div#tips{
		width: 100% !important;
		margin-top: 60px;
	}
	div.card-header{
		background-color: white !important;
	}
	div#headerForSmall{
		display: inline-block;
		height: 39px;
		padding: 10px;
		box-shadow:  0 2px 8px rgba(59,64,69,0.1) !important;
	}
	div#headerForLarge{
		display: none;
	}
	div#tipsContent{
		display: none;
	}
	.tipsButton{
		font-size: 12px
	}
	/*End of part one*/
}

/* ///////////////////////////////////////////////////////////////// Samll sizes /////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 767px){
	/*Begging of part one*/
	#mainTitle{
		left: 22px;
		top: 15px;
		font-size: 20px;
	}
	div#tips{
		width: 100% !important;
		margin-top: 50px;

	}
	#note{

		font-size: 11px;
	}
	#caution{

		font-size: 11px;
		
	}
	.tipsButton{
		font-size: 11px
	}
	ul.tipsContent{
		font-size: 11px;
	}
	div.card-header{
		background-color: white !important;
	}
	div#headerForSmall{
		display: inline-block;
		box-shadow:  0 2px 8px rgba(59,64,69,0.1) !important;
		font-size: 12px;
		padding: 10px;
		box-shadow:  0 2px 8px rgba(59,64,69,0.1) !important;
	}
	div#headerForLarge{
		display: none;
	}
	div#tipsContent{
		display: none;
	}
	.tipsButton{
		font-size: 12px
	}
	/*End of part one*/	
}

/* ///////////////////////////////////////////////////////////////// Very Samll sizes /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 320px){
	/*Begging of part one*/
	div#tips{
		font-size: 12px;
	}

	div#headerForSmall{
		font-size: 11px;
	}
	#mainTitle{
		font-size: 18px;
	}
	/*End of part one*/
}

