div#profileParent{
	background-color: #fafafa;
	overflow: hidden;
}
div#profileHeading{
	margin-top: 40px;
}
div#profileImageParent{
	width: 30%;
	float: left;
	text-align: center;
}
div#profileShortInfoParent{
	width: 70%;	
	float: right;
}
button#userFollowBtn{
	color: #666;
}
#profileImage img{
	width: 163px;
	height: 163px;
	border-radius: 50%;
}
#no-image{
	padding: 44px 40px;
    border-radius: 50%;
    border: 1px solid #3fbbc0;
    color: #3fbbc0;
    font-size: 70px;
    height: 163px;
    width: 163px;
}
div#profileShortInfoParent h2{
	color: #828282;
	display: inline-block;
	margin-top: 12px; 
}
div#profileShortInfoParent a.editFollowBtn{
	border: 1px solid #c9dbdc;
	margin-left: 10px;
	margin-top: -12px !important;
	font-weight: bold;
	font-size: 14px;
	transition: 0.5s;
}
div#profileShortInfoParent a.editFollowBtn:hover{
	background-color: #3fbbc0;
	color: white;
}

div#largeScreenBio{
	word-wrap: break-word;
	margin-top: 30px;
}
div#largeScreenBio h5{
	font-weight: bold;
}
div#smallScreenBio{
	display: none;
}

/* Secondpart */
div#pofileContentPart{
	margin-top: 20px;
	text-align: center !important; 
	border-top: 1px solid #efefef;
}
.tabLinks{
	background-color: inherit;
	border:none;
	padding: 20px 12px;
	color: #828282;
	font-weight: bold;
	letter-spacing: 1px;
	transition: color 0.5s;
	font-size: 11px;
	text-transform: uppercase;
}
.tabLinks:focus{
	outline: none;
}
button.active{
	border-top: 1px solid #3fbbc0;
	transition: color 0.5s;
}
.tab-content{
	word-wrap: break-word;
}
.tab-content:not(:first-child){
	display: none;
}
span.btn-icon{
	display: none;
}

/* post section */
div#posts{
	padding: 0 20%;
}
div#postPic{
	overflow: hidden;
	width: 100%;
	float: left;
}
div#divider{
	margin-left: 52px;
	border-color: #d0d0d0;
}
div#postPic img{
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}
div#postPic a:hover{
	text-decoration: none;
}
div#ownerName{
	color: black;
	display: inline-block;
	padding-left: 12px;
}
div#postPic span#createTime{
	color: #828282;
	display: table;
	font-size: 10px;

}
div#postContent{
	display: block;
	float: left;
	max-height: 450px;
	overflow-y: auto;
	margin-bottom: 12px;
	padding: 4px 53px;
}
div#postContent h5{
	font-weight: bold;
	font-size: 14px;
}
div#postContent p{
	word-wrap: break-word;
	text-align: justify;
	font-size: 14px;
}
div#postContent img{
	margin-bottom: 5px;
}
#no-image-in-post{
	padding: 11px 13px;
    border-radius: 50%;
	border: 1px solid #3fbbc0;
 	color: #3fbbc0;
    font-size: 15px;
    height: 40px;
    width: 40px;
}
div#postImage img{
	width: 100%;
	max-height: 197px !important
}

/* post Tags part*/
div.tags{
	margin-bottom: 2px;
}
div.tags span{
	background-color: #efefef;
	padding: 0 5px;
}
div.tags span a{
	font-size: 10px;
}

/* options for post part */
div.options{
	width: 85%;
	margin: 0 auto;
	text-align: center;
}
div.options button{
	border-radius: 15px;
	font-weight: bold;
	font-size: 11px;
	color: #666;
	height: 35px;
	margin-bottom: 4px;
	transition: .5s;
}
div.shareBtn{
	position: relative;
}
div.shareBtnForGuest{
	overflow: hidden;
	height: 22px;
	margin-top: -5px;
}
div.options button a{
	color: #666;
	text-decoration: none;
}
div#shareBtn a{
	color: #666;
}
div#shareBtn a:hover{
	color: #3fbbc0;
}
div.options button:focus{
	box-shadow: none;
}
div.options button:hover{
	background-color: #efefef;
}

span.votes{
	font-weight: lighter;
}
span.optionsIcons{
	font-size: 16px;
	margin-right: 4px;
}
div.options button:hover span.optionsIcons{
	color: #3fbbc0;
}
div.shareOptions{
	position: absolute;
	z-index: 1;
	box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px;
	padding: 2px 12px;
	display: none;
	width: 100px;
	margin-left: -50px;
	text-align: left;
	background-color: white;
	border-color: rgba(27, 31, 35, 0.15);
	border-radius: 4px;
}
div.shareOptions  li{
	list-style-type: none;
}
div.shareOptions a.social-button span{
	text-decoration: none;
	font-size: 11px;
	margin-left: 3px;
}
div.shareOptions a#share-facebook::after{
	content: "Facebook";
	margin-left: 3px;
}
div.shareOptions a#share-twitter::after{
	content: "Twitter";
	margin-left: 3px;
}
div.shareOptions a#share-linkedIn::after{
	content: "Linkedin";
	margin-left: 3px;
}
div.shareOptions a#share-whatsapp::after{
	content: "Whatsapp";
	margin-left: 3px;
}
div.shareOptions a#share-telegram::after{
	content: "Telegram";
	margin-left: 3px;
}
div.shareOptions a.share{
	font-size: 11px;
}

div.shareOptions div.dropdown-divider{
	margin-top: 0px;
	margin-bottom: 0px;
}

div.shareOptions p{
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
	margin-top: 4px;
	font-size: 11px;
}

/* Comment part */
div#commentPart{
	background-color: white;
	width: 85%;
	border:1px solid #f1f1f1;
	border-radius: 12px;
	margin: 0 auto;
	padding: 20px 25px;
	margin-bottom: 12px;
}

div#commentPartImage{
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 7%;
}
div#commentPartImage img{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
}
div#comment{
	display: inline-block;
	width: 93%; 
}
.commentField{
	border-radius: 10px !important;
	font-size: 12px;
	overflow: hidden;
	resize: none;	
	padding: 5px 30px;
	z-index: 0 !important;
}
.commentField:focus{
	box-shadow: 0px 0px 1px 0px #3fbbc0;
}
.addCommentBtn{
	border:1px solid #3fbbc0;
	background-color: #3fbbc0;
	border-radius: 40px;
	color: white;
	height: 30px;
	margin-left: 6px;
	font-size:12px; 
	transition: 0.5s;
}
.addCommentBtn:hover{
	color: white;
}

#no-image-in-comment{
	padding: 7px 7px;
    border-radius: 50%;
    border: 1px solid #3fbbc0;
    color: #3fbbc0;
    font-size: 15px;
    height: 30px;
    width: 30px;
}
.commentPhotoButton{
	position: absolute !important;
	color: #3fbbc0;
	top: 6px;
	font-size: 18px;
	left: 6px;
	cursor: pointer;
}
.commentPhotoField{
	display: none;
}


*::-webkit-scrollbar {
    width: 5px !important;

}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}
 
*::-webkit-scrollbar-thumb {
  background-color:gray !important;
  outline: 1px solid slategrey !important;
}

/* iphod pro */
@media screen and (max-width: 1200px) and (min-width: 1024px){
/* post Tags part*/
	div.tags span{
		padding: 0 2px;
	}
	div.tags span a{
		font-size: 9px;
	}
/*Commen part*/
	.commentField{
		font-size: 12px;
		margin-left: 10px;
	}
	.addCommentBtn{
		height: 25px;
		margin-left: 6px;
		padding-top: 4px; 
		font-size:11px; 
	}
	.commentPhotoButton{
		left: 16px !important;
	}

	/* options part */
	div.options button{
		font-size: 10px;
	}
	div.shareOptions{
		margin-left: -90px;
	
	}
	div.shareOptionsForGuest{
		margin-left: -50px;
	}
}

/* below ipon pro */
@media screen and (max-width: 1023px) and (min-width: 768px){

	div#posts{
		padding: 0 14% !important;
	}
/* post Tags part*/
	div.tags span{
		padding: 0 2px;
	}
	div.tags span a{
		font-size: 8px;
	}

/*options part*/
	div.options{
		width: 100%;
	}
	div.options button{
		font-size: 10px;
	}
	div.shareOptions{
		width: 95px;
		margin-left: -90px;
	}
	div.shareOptions a.share{
		font-size: 10px;
	}
	div.shareOptions a.share span{
		font-size: 10px;
	}
	div.shareOptions p{
		font-size: 10px;
	}
	div.shareOptionsForGuest{
		margin-left: -50px;
	}
/* comments part */
	div#commentPart{
		background-color: inherit;
		width: 85%;
		border:1px solid #f1f1f1;
		border-radius: 12px;
		padding: 20px 5px;
	}	

	div#commentPartImage{
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 7%;
	}
	div#commentPartImage img{
		width: 20px;
		height: 20px;
	}
	div#comment{
		display: inline-block;
		width: 93%;
	}
	.commentField{
		font-size: 11px;
		width: 100% !important;
		margin-left: 5px;
		margin-bottom: 5px !important;
	}
	.commentPhotoButton{
		top: 5px;
		left: 10px !important;
	}
	.addCommentBtn{
		height: 25px;
		margin-left: 6px;
		padding-top: 4px; 
		font-size:11px; 
	}

	#no-image-in-comment{
		padding: 3px 4px;
	    font-size: 9px;
	    height: 19px;
	    width: 19px;
	}
	#no-image-in-comment{
		padding: 3px 4px;
		margin-left: 4px;
	    font-size: 12px;
	    height: 22px;
	    width: 22px;
	}
	*::-webkit-scrollbar {
    	width: 3px;
	}
	 


}
/* 640  - 769 */
@media screen and (max-width: 767px){
	div#profileHeading{
		margin-top: 20px;
	}
	div#profileImageParent{
		width: 22%;	
		overflow: hidden;
		text-align: left;
	}
	#profileImage img{
		width: 70px;
		height: 70px;
	}
	#no-image{
		padding: 12px 16px;
    	border-radius: 50%;
    	font-size: 30px;
    	height: 60px;
    	width: 60px;
	}
	div#profileShortInfoParent{
		width: 78%;	
		padding-left: 12px;
	}
	div#profileShortInfoParent h2{
		letter-spacing: 0px;
		font-size: 20px;
	}
	div#profileShortInfoParent a.editFollowBtn{
		margin-left: 0px;
	    margin-top: 0px !important;
	    display: block;
	    height: 27px;
	    transition: 0.5s;
	    padding: 4px 0;
	    font-size: 12px;
	    overflow: hidden;
	}
	div#largeScreenBio{
		display: none;
	}
	div#smallScreenBio{
		display: inline-block;
		word-wrap: break-word;
		margin-top: 30px;
	}
	div#smallScreenBio h5{
		font-weight: bold;
		margin-bottom: 0px;
		font-size: 14px;
	}
	div#smallScreenBio p{
		font-size: 13px;
	}	
	/*second part*/
	.tabLinks{
		padding: 20px 25px;
		color: #828282;
	}
	span.btn-icon{
		display: inline-block;
		font-size: 24px;
	}
	span.btn-icon-large{
		display: none;
	}
	span.btnText{
		display: none;
	}

	/*post sectio*/
	div#posts{
		padding: 0 0;
	}
	div#postContent h5{
		font-size: 14px;
	}
	div#postContent p{
		text-align: left;
		word-break: keep-all;
		font-size: 13px;
	}
	div#postContent{
		max-height: 290px;
		padding-right: 5px !important;
	}
	div#postImage img{
		max-height: 197px !important
	}
	div#postPic img{
		width: 35px;
		height: 35px;
	}
/* post Tags part*/
	div.tags{
		margin-bottom: 0;
	}
	div.tags span{
		background-color: inherit;
		padding: 0 0;
	}
	div.tags span a{
		background-color: #efefef;
		padding: 2px 2px;
		font-size: 8px;
	}

/* options for post part */
	div.options{
		padding-left: 10px;
	}
	div.options{
		width: 100%;
	}
	span.optionsText{
		display: none;
	}
	span.optionsIcons{
		font-size: 16px;
	}
	span.votes{
		font-size: 10px;
	}
	div.shareOptions{
		width: 90px;
		margin-left: -90px;
	}
	div.shareOptionsForGuest{
		width: 90px;
		margin-left: -65px;
	}
	div.shareOptions a.share{
		font-size: 9px;
	}
	div.shareOptions a.share span{
		font-size: 9px;
	}
	div.shareOptions p{
		font-size: 10px;
	}



/* cmment part */
	div#commentPart{
		background-color: inherit;
		width: 100%;
		border:1px solid #f1f1f1;
		border-radius: 12px;
		padding: 20px 5px;
	}	

	div#commentPartImage{
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 7%;
	}
	div#commentPartImage img{
		width: 20px;
		height: 20px;
	}
	div#comment{
		display: inline-block;
		width: 93%;
	}
	.commentField{
		font-size: 11px;
		width: 100% !important;
		margin-left: 5px;
		margin-bottom: 5px !important;
	}
	.commentPhotoButton{
		top: 5px;
		left: 10px !important;
	}
	.addCommentBtn{
		height: 25px;
		margin-left: 6px;
		padding-top: 4px; 
		font-size:11px; 
	}

	#no-image-in-comment{
		padding: 3px 4px;
	    font-size: 9px;
	    height: 19px;
	    width: 19px;
	}
	*::-webkit-scrollbar {
    	width: 3px;
	}
	 


} 

/* for small screen sizes */
@media screen and (max-width:640px){
	
}

/* 320 px iphone 5se */
@media screen and (max-width: 320px){
	div#profileImageParent{
		width: 25%;	
	}
	div#profileShortInfoParent{
		width: 75%;	
	}
	div#profileShortInfoParent h2{
			font-size: 18px;
		}
	div#smallScreenBio h5{
		font-size: 12px;
	}
	div#smallScreenBio p{
		font-size: 11px;
	}
	div#profileShortInfoParent a.editFollowBtn{
		font-size: 11px;
	    height: 26px;
	}
	/*second part*/
	.tabLinks{
		padding: 20px 20px;
		color: #828282;
	}
	span.btn-icon{
		display: inline-block;
		font-size: 22px;
	}

	/*post part*/
	div#postContent h5{
		font-size: 13px;
	}
	div#postContent p{
		font-size: 12px;
	}
/* options part */
	div.options{
		padding-left: 22px;
	}
	span.optionsIcons{
		font-size: 14px;
		margin-right: 0;
	}

/* comment part */

}