div.confirmationBox{
	width: 273px;
	height: 160px;
	background: white;
	box-shadow:  0px 0px 10px 3px #b1a0a0;
	border-radius: 10px;
	position: fixed;
	z-index: 1;
	top:42%;
	left: 39%;
	padding: 20px 20px;
	overflow: hidden;
	display: none;
}
div.confirmationBox a{
	margin: 37px 25px;
}
a#topButtonP:focus{
	box-shadow: none;
}
div#profileParent{
	background-color: white;
}
div#profileHeading{
	margin-top: 40px;
}
div#profileImageParent{
	width: 30%;
	float: left;
	text-align: center;
}
div#profileShortInfoParent{
	width: 70%;	
	float: right;
}
button#userFollowBtn{
	color: #666;
}
#profileImage img{
	width: 163px;
	height: 163px;
	border-radius: 50%;
}
#no-image{
	padding: 44px 40px;
    border-radius: 50%;
    border: 1px solid #3fbbc0;
    color: #3fbbc0;
    font-size: 70px;
    height: 163px;
    width: 163px;
}
div#profileShortInfoParent h2{
	color: #828282;
	display: inline-block;
	margin-top: 12px; 
}
div#profileShortInfoParent a.editFollowBtn{
	border: 1px solid #c9dbdc;
	margin-left: 10px;
	margin-top: -12px !important;
	font-weight: bold;
	font-size: 14px;
	transition: 0.5s;
}
div#profileShortInfoParent a.editFollowBtn:hover{
	background-color: #3fbbc0;
	color: white;
}
a.editFollowBtn:focus{
	box-shadow: 0px 0px 0px white;
}
div#largeScreenBio{
	word-wrap: break-word;
	margin-top: 30px;
}
div#largeScreenBio h5{
	font-weight: bold;
}
div#smallScreenBio{
	display: none;
}

/* Secondpart */
div#pofileContentPart{
	margin-top: 20px;
	background-color: white;
	text-align: center !important; 
	border-top: 1px solid #efefef;
}
.tabLinks{
	background-color: inherit;
	border:none;
	padding: 20px 12px;
	color: #828282;
	font-weight: bold;
	letter-spacing: 1px;
	transition: color 0.5s;
	font-size: 11px;
	text-transform: uppercase;
}
.tabLinks:focus{
	outline: none;
}
button.active{
	border-top: 1px solid #3fbbc0;
	transition: color 0.5s;
}
.tab-content{
	word-wrap: break-word;
}
.tab-content:not(:first-child){
	display: none;
}
span.btn-icon{
	display: none;
}

/* post section */
div#posts{
	padding: 0 20%;
	margin-bottom: 13px !important;
}
div.postPic{
	overflow: hidden;
	width: 100%;
	float: left;
}
div#divider{
	margin-left: 52px;
	border-color: #d0d0d0;
	margin-bottom: 12px;
}
div.postPic img{
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}
div.postPic a:hover{
	text-decoration: none;
}
div.postPic a:hover span#fullName{
	text-decoration: underline;
}
div#ownerName{
	color: black;
	display: inline-block;
	padding-left: 12px;
}
div.postPic span#createTime{
	color: #828282;
	display: table;
	font-size: 10px;
	margin-top: -4px;

}
div.postContent{
	display: block;
	float: left;
	padding: 4px 53px;
}
a.readMoreLess{
	font-size: 11px;
	color: #3fbbc0;
}
div.postContent h5{
	font-weight: bold;
	font-size: 14px;
}
div.postContent p{
	word-wrap: break-word;
	text-align: justify;
	font-size: 14px;
	margin-bottom: 0px;
}
div#postImage{
	width: 100%;
	border:1px solid lightgray;
	border-radius: 8px;
	margin-bottom: 12px;
}
div.postContent img{
	border-radius: 5px;
}
div#postImage img{
	max-width: 100%;
	max-height: 300px !important
}
div#commentImage{
	width: 98%;
	margin-bottom: 12px;
	border-radius: 5px;
	border:1px solid lightgray !important;
}
div#commentImage img{
	max-width: 100%;
	max-height: 200px !important;
	border-radius:5px;
}
#no-image-in-post{
	padding: 11px 13px;
    border-radius: 50%;
	border: 1px solid #3fbbc0;
 	color: #3fbbc0;
    font-size: 15px;
    height: 40px;
    width: 40px;
}


/* post Tags part*/
div.tags{
	margin-bottom: 2px;
}
div.tags span{
	background-color: #efefef;
	border-radius: 4px;
	padding: 0 5px;
}
div.tags span a{
	font-size: 10px;
}

/* options for post part */
div.options{
	width: 85%;
	margin: 0 auto;
	text-align: center;
}
div.options button{
	border-radius: 15px;
	font-weight: bold;
	font-size: 11px;
	color: #666;
	height: 35px;
	margin-bottom: 4px;
	transition: .5s;
}
div#shareBtn{
	position: relative;
}
div.shareBtnForGuest{
	margin-top: -35px;
}
div.options button a{
	color: #666;
	text-decoration: none;
}
div#shareBtn a{
	color: #666;
}
div#shareBtn a:hover{
	color: #3fbbc0;
}
div.options button:focus{
	box-shadow: none;
}
div.options button:hover{
	background-color: #fbfbfds;
}

span.votes{
	font-weight: lighter;
}
span.optionsIcons{
	font-size: 16px;
	margin-right: 4px;
}
div.options button:hover span.optionsIcons{
	color: #3fbbc0;
}
div.shareOptions{
	position: absolute;
	z-index: 1 !important;
	box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px;
	padding: 2px 12px;
	display: none;
	width: 100px;
	margin-left: -50px;
	margin-top: 17px;
	text-align: left;
	background-color: white;
	border-color: rgba(27, 31, 35, 0.15);
	border-radius: 4px;

}
div.shareOptions::after{
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	transform: rotate(45deg);
	top: -9px;
	left: 42%;
	background-color: white;
	border-top: 1px solid  #c3bfbf;
	border-left: 1px solid  #c3bfbf;
	border-right: 0px solid  white;
	border-bottom: 0px solid  white;
}
	div.shareOptionsForGuest{
		margin-left: -50px;
	}
	div.shareOptionsForGuest::after{
		top: -10px;
		left: 48%;
	}
div.shareOptions  li{
	list-style-type: none;
}
div.shareOptions a.social-button span{
	text-decoration: none;
	font-size: 11px;
	margin-left: 3px;
}
div.shareOptions a#share-facebook::after{
	content: "Facebook";
	margin-left: 3px;
}
.PostEditDelete{
	font-size: 11px !important;
}
div.shareOptions a#share-twitter::after{
	content: "Twitter";
	margin-left: 3px;
}
div.shareOptions a#share-linkedIn::after{
	content: "Linkedin";
	margin-left: 3px;
}
div.shareOptions a#share-whatsapp::after{
	content: "Whatsapp";
	margin-left: 3px;
}
div.shareOptions a#share-telegram::after{
	content: "Telegram";
	margin-left: 3px;
}
div.shareOptions a.share{
	font-size: 11px;
}

div.shareOptions div.dropdown-divider{
	margin-top: 0px;
	margin-bottom: 0px;
}

div.shareOptions p{
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
	margin-top: 4px;
	font-size: 11px;
}

/* Comment part */
div#commentPart{
	background-color: #fbfbfd;
	width: 85%;
	border:1px solid #f1f1f1;
	border-radius: 12px;
	margin: 0 auto;
	padding: 20px 25px;
}

div#commentPartImage{
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 7%;
}
div#commentPartImage img{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
}
div#comment{
	display: inline-block;
	width: 93%; 
}
.commentField{
	border-radius: 10px !important;
	font-size: 12px;
	overflow: hidden;
	resize: none;	
	padding: 5px 30px;
	z-index: 0 !important;
}
.commentField:focus{
	box-shadow: 0px 0px 1px 0px #3fbbc0;
}
.addCommentBtn{
	border:1px solid #3fbbc0;
	background-color: #3fbbc0;
	border-radius: 40px;
	color: white;
	height: 30px;
	margin-left: 6px;
	font-size:12px; 
	transition: 0.5s;
}
.addCommentBtn:hover{
	color: white;
}

#no-image-in-comment{
	padding: 7px 7px;
    border-radius: 50%;
    border: 1px solid #3fbbc0;
    color: #3fbbc0;
    font-size: 15px;
    height: 30px;
    width: 30px;
}
.commentPhotoButton{
	position: absolute !important;
	color: #3fbbc0;
	top: 6px;
	font-size: 18px;
	left: 6px;
	cursor: pointer;
}
.commentPhotoField{
	display: none;
}

div.commentImageDiv{
	background-color: ;
	width: 98%;
	display: none;
	overflow: hidden;
    max-height: 180px;
    border-radius: 10px;
    border:1px solid lightgray;
    overflow: hidden;
    padding: 12px 20px;
    margin-bottom: 12px;
}
div.commentImageDiv img{
	max-width: 150px;
	max-height: 150px;
	border-radius: 12px;
}
button.removeImage{
	color: red;
	font-size: 18px !important; 
}
.removeEditCommentPhotoText{
	font-size: 12px !important;
}
div.commentImageDiv a{
	float: left;
}
div.commentImageDiv a:hover{
	color: black;
	text-decoration: none;
}
div.commentImageDiv button:focus{
	outline: none;
}
div.commentImageVideoErrorMsg, div.replyImageVideoErrorMsg{
	box-shadow: 0px 0px 20px 0px #d7f3e3;
	width: 80%;
	display: none;
	margin-top: 7px; 
	font-size: 12px;
	overflow: hidden;
	margin-left: 36px;
}
div.commentSuccessMsgs, div.replySuccessMsgs{
	box-shadow: 0px 0px 20px 0px #d7f3e3;
	width: 80%;
	font-size: 12px;
	display: none;
	margin-left: 36px;
}
button.commentManageOptions{
	background: inherit;
    border: none;
    font-weight: normal !important;
    font-size: 10px;

}
button.commentManageOptions:focus{
	outline: 0px;

}
/* Showing all comments part */
div.allComments{
	position: relative;
	overflow: auto;
	margin-bottom: 15px;
	background-color: #fbfbfd;
	padding: 12px 0px;
	padding-left:30px;  
	display: none;
	max-height: 800px;
}
.no-comment{
	font-size: 11px;
}
.comments-count{
	margin-left: 30px !important;
	font-size: 11px;
}
div.allcommentsOwnerImage{
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
}
div.allcommentsOwnerImage img{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
}
div.commentOwnerName{
	display: inline-block;
}
div.commentOwnerName a{
	margin-left: 3px;
	color: #3fbbc0;
	font-weight: bold;
	font-size: 12px;
}
div.commentOwnerName span.commentcreateTime{
	color: #828282;
	display: table;
	margin-left: 3px;
	margin-top: -5px;
	font-size: 10px;
}
div.allCommentsContent p{
	padding-right: 4px; 
	font-size: 12px;
}
div#dividerForComments{
	margin-top:0;
	margin-bottom: 10px;
}
/*End of showing all comments part*/

/* Beggining :options part for comments part*/
div.commetOptions{
	width: 100%;
	margin: 0 auto;
}
div.commetOptions button{
	border-radius: 15px;
	font-weight: bold;
	font-size: 11px;
	color: #666;
	height: 25px;
	margin-bottom: 4px;
	transition: .5s;
}
div.commetOptions button:focus{
	box-shadow: none;
}
div.commetOptions button:hover{
	background-color: #efefef;
}
div.commetOptions button a{
	color: #666;
	text-decoration: none;
}
span.commentVotes{
	font-weight: lighter;
}
span.commentOptionsIcons{
	font-size: 12px;
}
div.commetOptions button:hover span.commentOptionsIcons{
	color: #3fbbc0;
}
/* End :options part for comments part*/

/* Beggining of the form of replies */
div.reply{
	display: none;
	width: 93%; 
	margin-left: 5px;
	margin-bottom: 5px;
	margin-bottom: 12px;
	margin-top: 12px;
	padding: 0 12px;
	
}
.replyField{
	border-radius: 10px !important;
	font-size: 11px;
	overflow: hidden;
	resize: none;	
	padding: 5px 30px;
	z-index: 0 !important;
}
.replyField:focus{
	box-shadow: 0px 0px 1px 0px #3fbbc0;
}
.addReplyBtn{
	border:1px solid #3fbbc0;
	background-color: #3fbbc0;
	border-radius: 40px;
	color: white;
	height: 30px;
	margin-left: 6px;
	font-size:12px; 
	transition: 0.5s;
}
.addReplyBtn:hover{
	color: white;
}

.replyPhotoButton{
	position: absolute !important;
	color: #3fbbc0;
	top: 6px;
	font-size: 16px;
	left: 6px;
	cursor: pointer;
}
.replyPhotoField{
	display: none;
}
/* End of the form of replies */

/* Beggining of the showing all replies */
div.allReplies{
	overflow:hidden;
	border-left: 1px solid #f2f2f2;
	padding-left: 30px;
	display: none;
	margin-bottom: 12px;
}
div.reply-parent{
	display: none;
}
div.allRepliesOwnerImage{
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
}
div.allRepliesOwnerImage img{
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
}
div.replyOwnerName{
	display: inline-block;
}
div.replyOwnerName a{
	margin-left: 3px;
	color: black;
	font-weight: bold;
	font-size: 12px;
}
div.replyOwnerName span.replyCreateTime{
	color: #828282;
	display: table;
	margin-left: 3px;
	margin-top: -5px;
	font-size: 10px;
}
div.allRepliessContent p{
	padding-right: 4px; 
	font-size: 12px;
	margin-left: 27px;
	overflow:hidden;
	margin-bottom: 4px;
}
.replyImage{
	width: 80%;
	margin:0 auto;
	margin-bottom: 12px;
	border:1px solid lightgray;
	border-radius: 5px;
}
.replyImage img{
	max-width: 100%;
	max-height: 160px !important;
	border-radius:5px;
}
#no-image-in-reply{
	padding: 6px 6px;
    border-radius: 50%;
    border: 1px solid #3fbbc0;
    color: #3fbbc0;
    font-size: 12px;
    height: 25px;
    width: 25px;
}
div.reply-divider{
	margin-top: 0px;
}

.replies-count{
	font-size: 11px;
}
/* End of the showing all replies */

/* tags section */
#tags{
	position: relative;
	right: 130px;
	padding: 12px 15px;
	width: 200px;
	transition: 0.5s;
	background-color: #fbfbfd;
	float: right;
	font-size: 12px;
}
#tags a{
	display: block;
}



/* class added using ajax to check span */
.upVotedCheck{
	font-size: 12px;
	color: #3fbbc0;
}
button.OptionsForGuest{
	cursor:default;
}
button.OptionsForGuest a{
	cursor: default;
}
button.followed span{
	color: #3fbbc0;
}


div::-webkit-scrollbar {
    width: 4px !important;
}
textarea::-webkit-scrollbar {
    width: 4px !important;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}
 
*::-webkit-scrollbar-thumb {
  background-color:gray !important;
  outline: 1px solid slategrey !important;
} 



/* Beggining Following part for normal user */
div#followingParent{
	background: white;
	border-top: 1px solid #efefef;
	width: 60%;
	overflow: hidden;
	margin: 0 auto;
	padding: 13px 13px;
}
div.followingContent{
	overflow: hidden;
}
div.followingOwnerImage{
	padding: 12px 5px;
	float: left;
	overflow: hidden;
	width: 12%;
	display: inline-block;
}
div.followingOwnerImage img{
	height: 50px;
    width: 50px;
    border-radius: 50%;
}
span.no-image-in-following{
	padding: 12px 15px;
    border-radius: 50%;
	border: 1px solid #3fbbc0;
 	color: #3fbbc0;
    font-size: 19px;
    height: 45px;
    width: 45px;
}
div.followingInfo{
	display: inline-block;
	width: 80%;
	font-weight: bold;
	font-size: 13px;
	margin-top: 20px !important;
}
.followingButtonAll{
	border: 1px solid #c9dbdc;
	font-weight: bold;
	font-size: 12px;
	margin-top:-22px; 
	transition: 0.5s;
}
.followingButtonAll:hover{
	background-color: #3fbbc0;
	color: white;
}
.followedBy{
	color: #828282;
	display: table;
	font-size: 10px;
	margin-top: -3px;
}
span#countFollowingSmall{
	display: none;
}
/* End Following part for normal user */
span.nCreateTime{
		color: #828282;
	display: table;
	font-size: 10px;
	margin-top: -4px;
}

/*   The seciton for listing all questions for a normal user NOTE: some styles are taken from the above styles       */
div#allQuestionsParent{
	overflow: none;
	padding: 12px 140px;
}
div.allQuestions{
	padding: 12px 30px;
	box-shadow:0 4px 6px rgba(59,64,69,0.2);
	margin-bottom: 5px;
}
div#questionTitle{
	padding-bottom: 12px;
	border-bottom: 1px solid  #e5e5ec;
	padding: 4px 4px;
	padding-bottom: 15px;
}
div#questionTitle h3{
	font-weight: bold;
	font-size: 17px;
	cursor: pointer !important;
	color: #3fbbc0;
}
div#questionTitle a{
	background-color: #fbfbfd;
	color: #949494;
	font-size: 8px;
	transition: 0.5s;
}
div#QmanageOptions a{
	cursor: initial; 
}
div#questionTitle a:focus{
	box-shadow: none;
}
.count{
	font-weight: bold;
}
#QshareBtn{
	margin-top: -28px;
}
.QshareOptions{
	position: absolute;
	z-index: 1 !important;
	box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px;
	padding: 2px 12px;
	display: none;
	width: 100px;
	margin-left: -50px;
	margin-top: 17px;
	text-align: left;
	background-color: white;
	border-color: rgba(27, 31, 35, 0.15);
	border-radius: 4px;

}
.QshareOptions::after{
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	transform: rotate(45deg);
	top: -9px;
	left: 42%;
	background-color: white;
	border-top: 1px solid  #c3bfbf;
	border-left: 1px solid  #c3bfbf;
	border-right: 0px solid  white;
	border-bottom: 0px solid  white;
}

div.QshareOptions  li{
	list-style-type: none;
}
div.QshareOptions  li a{
	color: #828282;
	list-style-type: none;
}
div.QshareOptions a.social-button span{
	text-decoration: none;
	font-size: 11px;
	margin-left: 3px;
}
div.QshareOptions a#share-facebook::after{
	content: "Facebook";
	margin-left: 3px;
}
.PostEditDelete{
	font-size: 11px !important;
}
div.QshareOptions a#share-twitter::after{
	content: "Twitter";
	margin-left: 3px;
}
div.QshareOptions a#share-linkedIn::after{
	content: "Linkedin";
	margin-left: 3px;
}
div.QshareOptions a#share-whatsapp::after{
	content: "Whatsapp";
	margin-left: 3px;
}
div.QshareOptions a#share-telegram::after{
	content: "Telegram";
	margin-left: 3px;
}
div.QshareOptions a.share{
	font-size: 11px;
}

div.QshareOptions div.dropdown-divider{
	margin-top: 0px;
	margin-bottom: 0px;
}

div.QshareOptions p{
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
	margin-top: 4px;
	font-size: 10px;
}

.QownerInfo{
	
	padding-top: 5px;
	padding-left: 5px;
}
.QownerInfo img{
	width: 50px; 
	height: 50px;
	display: inline-block;
	border-radius: 50%;
}
#Qno-owner-image{
	padding: 12px 14px;
    border-radius: 50%;
	border: 1px solid #3fbbc0;
 	color: #3fbbc0;
    font-size: 20px;
    height: 45px;
    width: 45px;
}
div.QownerName{
	display: inline-block;
	padding-left: 12px;
}
.QfullName{
	color: #3fbbc0;
}
span.QcreateTime{
	color: #828282;
	display: table;
	font-size: 8px;
	margin-top: -3px;
}
a.QlinkToProfile:hover{
	text-decoration: none;
}
a.QlinkToProfile:hover span.QfullName{
	text-decoration: underline;
}

/* content part */
.Qcontent{
	overflow: hidden;
}
div.Qtags{
	margin-bottom: 0px;
	padding-left: 12px;
}
div.Qtags span{
	background-color: #fbfbfd;
	border-radius: 4px;
	padding: 0 5px;
}
div.Qtags span a{
	font-size: 10px;
}
.QcontentText{
	text-align: justify;
	font-size: 14px;
	padding-left: 12px;
	cursor: pointer !important;
}

/* favorite tab inside NOTE:ONLY AFEW STYELS ARE APPLIED SEPERATLY OTHER STYLES ARE SAME AS THE QUESTION PART   */
#favoritesTabs{
	/*background-color: green;*/
	width: 30%;
	margin:0 auto;
	border-top: 1px solid lightgray;
	text-align: center;
}
.favoriteTabLinks{
	background-color: inherit;
	border:none;
	padding: 20px 12px;
	color: #828282;
	font-weight: bold;
	letter-spacing: 1px;
	transition: color 0.5s;
	font-size: 11px;
	text-transform: uppercase;
}
.favoriteTabLinks:focus{
	outline: none;
}
.favoriteTabsContent:not(:first-child){
	display: none;
}
.favoriteTabsContent{
	overflow: none;
	padding: 12px 140px;
}

/* Doctor achiivments part begging  //////////////////////////////////// */
#achParent{
	/*background-color: green;*/
	padding:10px 10px;
}
#addAchButtonDiv{
	width: 60%;
	margin: 12px auto;
	border-bottom: 1px solid #fbfbfd;
	padding-bottom: 12px;
	/*overflow: hidden;*/
}
#addAchButton{
	cursor: pointer;
	border:1px solid #3fbbc0;
	background-color: #3fbbc0;
	color: white;
	font-size: 11px;
}
#achFormDiv{
	background-color: white;
	width: 60%;
	padding:16px 12px;
	margin:0 auto;
	box-shadow: 0 4px 8px rgba(59,64,69,0.2);
	display: none;
}
#ach-close-icon{
	font-size: 22px;
	cursor: pointer;
}
#ach-close-icon:hover{
	color: red;
}
#achFormDiv h5{
	font-weight: bold;
	color: #495056;
}

.ach-formlabels{
	display: block;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 0px;
}
.ach-form-elements-descriptions{
	font-weight: bold;
	font-size: 10px;
}
.ach-form-fields{
	font-size: 11px;
	font-weight: bold;
}
.ach-form-fields::placeholder{
	color: #9ba1ad;
	font-size: 10px;
}
#ach-textarea{
	resize: none;
	overflow: hidden;
}
#ach-date-row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.ach-date-fields{
	width: 16% !important;
	height: 30px;
	margin-right: 2px;
	font-size: 13px;
	padding-top: 3px;
}
#ach-photo-icon{
	font-size: 24px;
	display: block;
}
#ach-buttons-div{
	background-color: #3fbbc0;
	padding: 8px 2px;
}
.ach-buttons{
	color: white;
	padding: 0px;
	padding-right: 30px;
	padding-left: 30px;	
}
.ach-buttons:hover{
	color: white;
}
.cancelSubmitButtonDiv{
	display: inline-block;
	position: relative;
}
.ach-icons{
	color: white;
	position: absolute;
	cursor: pointer;
	font-size: 11px;
}
#cancelButtonIcon{
	left: 18px;
	top: 7px;
}
#submitButtonIcon{
	color: #aee2e4;
	right:18px;
	top: 8px;
}
div.ach-ImageDiv{
	width: 90%;
    display: none;
    overflow: hidden;
    max-height: 180px;
    border-radius: 6px;
    border: 1px solid lightgray;
    overflow: hidden;
    padding: 6px 4px;
    margin: 0 auto;
}
div.ach-ImageDiv img{
	max-width: 220px;
	max-height: 150px;
	border-radius: 12px;
}
button.ach-removeImage{
	color: red;
	font-size: 18px !important; 
}
#ach-editIcon{
	font-size: 12px;
}
.ach-removeImageText{
	font-size: 10px !important;
}
div.ach-ImageDiv a{
	float: left;
}
div.ach-ImageDiv a:hover{
	color: black;
	text-decoration: none;
}
div.ach-ImageDiv button:focus{
	outline: none;
}
/* iphod pro /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1200px) and (min-width: 1024px){
	#tags{
		display: none;
	}
/* post Tags part*/
	div.tags span{
		padding: 0 2px;
	}
	div.tags span a{
		font-size: 9px;
	}
/*Commen part*/
	.commentField{
		font-size: 12px;
		margin-left: 10px;
	}
	.addCommentBtn{
		height: 25px;
		margin-left: 6px;
		padding-top: 4px; 
		font-size:11px; 
	}
	.commentPhotoButton{
		left: 16px !important;
	}

	/* options part */
	div.options button{
		font-size: 8px;
	}

	div.shareOptions{
		margin-left: -70px;
	}
	div.shareOptions::after{
		left: 63%;
	}
	div.shareOptionsForGuest{
		margin-left: -50px;
	}
	div.shareOptionsForGuest::after{
		top: -7px;
		left: 49%;
	}
	div.commentImageVideoErrorMsg, div.replyImageVideoErrorMsg{
		width: 98%;
		font-size: 11px;
		padding: 7px 12px;
		margin-left: 0px;
	}
	div.commentImageDiv img{
		max-width: 128px;
		max-height: 128px;
	}
	
	span.removeEditCommentPhotoText{
		font-size: 11px;
	}
	div.commentSuccessMsgs, div.replySuccessMsgs{
		width: 98%;
		font-size: 11px;
		display: none;
		padding: 7px 12px;
		margin-left: 0px;
	}
	/* Beggining of the form of replies */
	.addReplyBtn{
		height: 25px;
		padding: 0 16px;
		font-size:11px; 
	}
	/* End of the form of replies */

/* Beggining of the showing all replies */
	div.allRepliessContent p{
		padding-right: 1px; 
		margin-left: 10px;
	}
/* End of the showing all replies */

/* Beggining Following part for normal user */
div#followingParent{
	width: 63%;
}
div.followingOwnerImage img{
	height: 45px;
    width: 45px;
}
span.no-image-in-following{
	padding: 12px 13px;
    font-size: 18px;
    height: 42px;
    width: 42px;
}
.followingButtonAll{
	font-size: 10px;
	margin-top:-31px; 
}
.followedBy{
	font-size: 9px;	
}
/* End Following part for normal user */
	


}

/* below ipon pro //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1023px) and (min-width: 768px){
	#tags{
		display: none;
	}
	div#posts{
		padding: 0 14% !important;
	}
	div.postContent{
		padding: 4px 10px;
	}
	div#postImage img{
		max-width: 100%;
		max-height: 298px !important
	}
	div#commentImage img{
		max-height: 170px !important
	}
/* post Tags part*/
	div.tags span{
		padding: 0 2px;
	}
	div.tags span a{
		font-size: 8px;
	}

/*options part*/
	div.options{
		width: 100%;
		padding: 0 0;
	}
	span.optionsText{
		display: none;
	}
	div.options button{
		font-size: 12px;
	}
	div.shareOptions{
		width: 95px;
		margin-left: -77px;
		margin-top: 10px;
	}
	div.shareOptions::after{
		left: 75%;
		width: 13px;
		height: 13px;
		top: -6px;
	}
	div.shareOptions a.share{
		font-size: 10px;
	}
	div.shareOptions a.share span{
		font-size: 10px;
	}
	div.shareOptions p{
		font-size: 10px;
	}
	div.shareOptionsForGuest{
		margin-left: -70px;
	}
/* comments part */
	div#commentPart{
		background-color: #fbfbfd;
		width: 100%;
		border:1px solid #f1f1f1;
		border-radius: 12px;
		padding: 20px 5px;
	}	
	button.commentManageOptions{
	    font-size: 9px;
	}
	div#commentPartImage{
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 7%;
	}
	div#commentPartImage img{
		width: 20px;
		height: 20px;
	}
	div#comment{
		display: inline-block;
		width: 93%;
	}
	.commentField{
		font-size: 11px;
		margin-left: 5px;
		margin-bottom: 5px !important;
	}
	.commentPhotoButton{
		top: 5px;
		left: 10px !important;
	}
	.addCommentBtn{
		height: 25px;
		margin-left: 6px;
		padding-top: 4px; 
		font-size:11px; 
	}

	#no-image-in-comment{
		padding: 3px 4px;
	    font-size: 9px;
	    height: 19px;
	    width: 19px;
	}
	#no-image-in-comment{
		padding: 3px 4px;
		margin-left: 4px;
	    font-size: 12px;
	    height: 22px;
	    width: 22px;
	}
	div.commentImageVideoErrorMsg,div.replyImageVideoErrorMsg{
		width: 98%;
		font-size: 11px;
		padding: 7px 12px;
		margin-left: 0px;
	}
	div.commentImageDiv img{
		max-width: 165px;
		max-height: 165px;
	}
	span.removeEditCommentPhotoText{
		display: none;
	}
	div.commentSuccessMsgs, div.replySuccessMsgs{
		width: 98%;
		font-size: 11px;
		padding: 7px 12px;
		margin-left: 0px;
	}
/* Showing all comments part */
	div.commentOwnerName a{
		font-size: 11px;
	}
	div.commentOwnerName span.commentcreateTime{
		margin-top: -5px;
		font-size: 7px;
	}
	div.allCommentsContent {
		padding: 0 10px;
	}
	div.allCommentsContent p{
		font-size: 11px;
	}
/*End of showing all comments part*/

/* Beggining of the form of replies */
	div.reply{
		width: 97%;
		margin-left: 3px;
	}
	.replyField{
		font-size: 12px;
		width: 100% !important;
	}
	.addReplyBtn{
		height: 25px;
		margin-top: 3px;
		padding: 0 15px;
		margin-left: 0px;
		font-size:11px; 
	}
	.replyPhotoButton{
		font-size: 15px;
		left: 8px;
	}
/* End of the form of replies */

	/* Beggining Following part for normal user */
	div#followingParent{
		width: 80%;
	}
	div.followingOwnerImage{
		width: 13%;
	}
	div.followingOwnerImage img{
		height: 45px;
	    width: 45px;
	}
	span.no-image-in-following{
		padding: 11px 13px;
	    height: 42px;
	    width: 42px;
	}
	.followingButtonAll{
		font-size: 10px;
		margin-top:-27px; 
	}
	.followedBy{
		color: #828282;
		display: table;
		font-size: 9px;
		margin-top: -3px;
		
	}
	/* End Following part for normal user */	 

	/*   The seciton for listing all questions for a normal user NOTE: some styles are taken from the above styles       */
	div#allQuestionsParent{
		padding: 12px 60px;
	}
	.favoriteTabsContent{
		padding: 12px 60px;
	}
	div.allQuestions{
		box-shadow:0 2px 3px rgba(59,64,69,0.2);
	}
	div#questionTitle h3{
		font-size: 16px;
	}
	div#questionTitle a{
		font-size: 7px;
	}
	
	div.QownerName{
		padding-left: 11px;
	}
	/* content part */
	div.Qtags span a{
		font-size: 10px;
	}
	.QcontentText{
		font-size: 13px;
	}

	/* Doctor achiivments part begging  //////////////////////////////////// */
	#achFormDiv{
		width: 90%;
	}
	#achFormDiv h5{
		font-size: 14px
	}
	.ach-buttons{
		font-size: 13px;
	}
	#submitButtonIcon{
		right:18px;
		top: 7px;
	}
	div.ach-ImageDiv{
		    width: 90%;
	    display: none;
	    overflow: hidden;
	    max-height: 180px;
	    border-radius: 6px;
	    border: 1px solid lightgray;
	    overflow: hidden;
	    padding: 6px 4px;
	    /* margin-bottom: 12px; */
	    margin: 0 auto;
	}
	div.ach-ImageDiv img{
		max-width: 220px;
		max-height: 150px;
		border-radius: 12px;
	}
	button.ach-removeImage{
		color: red;
		font-size: 18px !important; 
	}
	#ach-editIcon{
		font-size: 12px;
	}
	.ach-removeImageText{
		font-size: 10px !important;
	}
	div.ach-ImageDiv a{
		float: left;
	}
	div.ach-ImageDiv a:hover{
		color: black;
		text-decoration: none;
	}
	div.ach-ImageDiv button:focus{
		outline: none;
	}



}
/* 640  - 769 /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 767px){
	div.confirmationBox{
		width: 217px;
	    height: 116px;
	    top: 42%;
	    left: 21%;
	    padding: 20px 20px;
	    font-size: 10px;
	}
	div.confirmationBox a{
		    margin: 23px 19px;
    		font-size: 10px;
	}

	#tags{
		display: none;
	}
	div#profileHeading{
		margin-top: 20px;
	}
	div#profileImageParent{
		width: 22%;	
		overflow: hidden;
		text-align: left;
	}
	#profileImage img{
		width: 70px;
		height: 70px;
	}
	#no-image{
		padding: 12px 16px;
    	border-radius: 50%;
    	font-size: 30px;
    	height: 60px;
    	width: 60px;
	}
	div#profileShortInfoParent{
		width: 78%;	
		padding-left: 12px;
	}
	div#profileShortInfoParent h2{
		letter-spacing: 0px;
		font-size: 20px;
	}
	div#profileShortInfoParent a.editFollowBtn{
		margin-left: 0px;
	    margin-top: 0px !important;
	    display: block;
	    height: 27px;
	    transition: 0.5s;
	    padding: 4px 0;
	    font-size: 12px;
	    overflow: hidden;
	}
	div#largeScreenBio{
		display: none;
	}
	div#smallScreenBio{
		display: inline-block;
		word-wrap: break-word;
		margin-top: 30px;
	}
	div#smallScreenBio h5{
		font-weight: bold;
		margin-bottom: 0px;
		font-size: 14px;
	}
	div#smallScreenBio p{
		font-size: 13px;
	}	
	/*second part*/
	.tabLinks{
		padding: 20px 25px;
		color: #828282;
	}
	span.btn-icon{
		display: inline-block;
		font-size: 24px;
	}
	span.btn-icon-large{
		display: none;
	}
	span.btnText{
		display: none;
	}

	/*post sectio*/
	div#posts{
		padding: 0 0;
	}
	div.postPic span#createTime{
		font-size: 8px;
		margin-top: -1px;
	}
	div.postContent h5{
		font-size: 12px;
		margin-top: 12px;
		margin-bottom: 0px;
		margin-left: 3px;
	}
	div.postContent{
		padding: 0 0;
	}
	div.postContent p{
		word-break: keep-all;
		font-size: 13px;
	}
	div.postContent{
		padding-right: 5px !important;
	}
	div#postImage{
		margin-top: 5px;
	}
	div#postImage img{
		max-height: 230px !important
	}
	div#commentImage img{
		max-height: 120px !important
	}
	div.postPic img{
		width: 35px;
		height: 35px;
	}
/* post Tags part*/
	div.tags{
		margin-bottom: 0;
		margin-right: 0;
	}
	div.tags span{
		background-color: inherit;
		padding: 0 0;
	}
	div.tags span a{
		background-color: #efefef;
		border-radius: 5px;
		padding: 2px 2px;
		font-size: 6px;
	}

/* options for post part */
	div.options{
		text-align: left;
		width: 100%;
	}
	span.optionsText{
		display: none;
	}
	span.optionsIcons{
		font-size: 16px;
	}
	span.votes{
		font-size: 10px;
	}
	div.shareOptions{
		width: 90px;
		margin-left: -73px;
		margin-top: 12px;
	}
	div.shareOptions::after{
		left: 75%;
		width: 13px;
		height: 13px;
		top: -6px;
	}
	div.shareOptionsForGuest{
		width: 90px;
		margin-left: -65px;
	}
	div.shareOptions a.share{
		font-size: 9px;
	}
	div.shareOptions a.share span{
		font-size: 9px;
	}
	div.shareOptions p{
		font-size: 10px;
	}



/* cmment part */
	div#commentPart{
		background-color: #fbfbfd;
		width: 100%;
		border:1px solid #f1f1f1;
		border-radius: 12px;
		padding: 20px 5px;
	}	

	div#commentPartImage{
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 7%;
	}
	button.commentManageOptions{
	    font-size: 9px;
	}
	div#commentPartImage img{
		width: 20px;
		height: 20px;
	}
	div#comment{
		display: inline-block;
		width: 93%;
	}
	.commentField{
		font-size: 11px;
		width: 100% !important;
		margin-left: 5px;
		margin-bottom: 5px !important;
	}
	/* that camera icon */
	.commentPhotoButton{
		top: 5px;
		left: 10px !important;
	}
	/* the submit button of comment form */
	.addCommentBtn{
		height: 25px;
		margin-left: 6px;
		padding-top: 4px; 
		font-size:11px; 
	}

	#no-image-in-comment{
		padding: 3px 4px;
	    font-size: 9px;
	    height: 19px;
	    width: 19px;
	}
	div.commentImageVideoErrorMsg,div.replyImageVideoErrorMsg{
		width: 98%;
		font-size: 11px;
		padding: 7px 10px;
		margin-left: 0px;
	}
	div.commentImageDiv img{
		max-width: 156px;
		max-height: 156px;
	}
	span.removeEditCommentPhotoText{
		display: none;
	}
	div.commentSuccessMsgs, div.replySuccessMsgs{
		width: 98%;
		font-size: 11px;
		padding: 7px 10px;
		margin-left: 0px;
	}
/* Showing all comments part */
	div.allComments{
		background-color: #fbfbfd;
		max-height: 500px;
		padding-left: 12px;

	}
	div.allcommentsOwnerImage img{
		width: 20px;
		height: 20px;
	}
	div.commentOwnerName{
		display: inline-block;
	}
	div.commentOwnerName a{
		font-size: 11px;
	}
	div.commentOwnerName span.commentcreateTime{
		margin-top: -5px;
		font-size: 7px;
	}
	div.allCommentsContent {
		padding: 0 1px;
	}
	div.allCommentsContent p{
		font-size: 11px;
	}
/*End of showing all comments part*/

	/*Begginging of: options for comments*/
	span.commentVotes{
		font-weight: lighter;
		font-size: 9px;
	}
	span.commentOptionsIcons{
		font-size: 9px;
	}
	/* End of :options for comments; */

	/* Beggining of the form of replies */
	div.reply{
		width: 97%;
		margin-left: 3px;
		padding: 0 0;
	}
	.replyField{
		font-size: 11px;
		width: 100% !important;

	}
	.addReplyBtn{
		height: 25px;
		margin-top: 3px;
		padding: 0 13px;
		margin-left: 0px;
		font-size:11px; 
	}
	.replyPhotoButton{
		font-size: 14px;
		left: 8px;
	}
	/* End of the form of replies */

	/* Beggining of the showing all replies */
	div.replyOwnerName a{
		font-size: 10px;
	}
	div.replyOwnerName span.replyCreateTime{
		font-size: 7px;
	}
	div.allRepliessContent p{
		font-size: 11px;
		margin-left: 0px;
	}
	.replyImage img{
		max-height: 120px !important;
	}
	#no-image-in-reply{
		padding: 4px 4px;
	    font-size: 10px;
	    height: 20px;
	    width: 20px;
	}

	/* End of the showing all replies */

	*::-webkit-scrollbar {
		width: 1px;
	}


	/* Beggining Following part for normal user */
	div#followingParent{
		width: 100%;
		padding: 6px 2px;
	}
	div.followingOwnerImage{
		width: 15%;
	}
	div.followingOwnerImage img{
		height: 40px;
	    width: 40px;
	}
	span.no-image-in-following{
		padding: 9px 12px;
	    font-size: 17px;
	    height: 37px;
	    width: 37px;
	}
	div.followingInfo{
		width: 83%;
		margin-top: 12px !important;
	}
	div.followingInfo span{
		margin-left: 5px
	}
	.name{
		font-size: 10px;
	}
	.followingButtonAll{
		font-size: 8px;
		margin-top:-27px; 
	}
	.followedBy{
		font-size: 7px;
	}
	span#countFollowingSmall{
		display:inline-block;
		font-size: 10px;
		color: #828282;
		font-weight: bold;
	}
	/* End Following part for normal user */ 

	/*   The seciton for listing all questions for a normal user NOTE: some styles are taken from the above styles       */
	div#allQuestionsParent{
		padding: 12px 0px;
	}
	.favoriteTabsContent{
		padding: 12px 0px;
	}
	div.allQuestions{
		padding: 12px 1px;
		box-shadow:none;
		border-bottom: 2px solid lightgray;
	}
	div#questionTitle a{
		font-size: 7px;
	}
	.QshareOptions{
		margin-left: -80px;

	}
	.QshareOptions::after{
		left: 73%;
	}
	
	span.QcreateTime{
		font-size: 7px;
	}

	/* content part */
	div.Qtags span a{
		font-size: 9px;
	}
	.QcontentText{
		text-align: justify;
		font-size: 12px;
		padding-left: 12px;
		cursor: pointer !important;
	}
	/* favorite tab inside NOTE:ONLY AFEW STYELS ARE APPLIED SEPERATLY OTHER STYLES ARE SAME AS THE QUESTION PART   */
	#favoritesTabs{
		/*background-color: green;*/
		width: 100%;
	}

	/* Doctor achiivments part begging  //////////////////////////////////// */
	#achParent{
		/*background-color: green;*/
		padding:10px 0px;
	}
	#achFormDiv{
		width: 100%;
		padding:16px 4px;
		box-shadow: 0 2px 4px rgba(59,64,69,0.2);
	}
	#achFormDiv h5{
		font-size: 13px;
	}
	.ach-formlabels{
		font-size: 11px;
	}
	.ach-form-elements-descriptions{
		font-size: 8px;
	}
	.ach-form-fields{
		font-size: 9px;
	}
	.ach-form-fields::placeholder{
		font-size: 8px;
	}
	.ach-date-fields{
		width: 32% !important;
		height: 28px;
		font-size: 10px;
		padding-top: 5px;
	}
	#ach-photo-icon{
		font-size: 22px;
		display: block;
	}
	#ach-buttons-div{
		padding: 6px 2px;
	}
	.ach-buttons{
		font-size: 11px;
	}
	#cancelButtonIcon{
		top: 6px;
	}
	#submitButtonIcon{
		top: 7px;
	}
	div.ach-ImageDiv{
		width: 100%;
	}
	div.ach-ImageDiv img{
		max-width: 150px;
		max-height: 120px;
	}
	button.ach-removeImage{
		color: red;
		margin-top: -9px;
		font-size: 26px !important; 
	}
	#ach-editIcon{
		font-size: 12px;
	}
	.ach-removeImageText{
		display: none;
	}

} 

/* for small screen sizes ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width:640px){
	
}

/* 320 px iphone 5se ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 320px){
	#tags{
		display: none;
	}
	div#profileImageParent{
		width: 25%;	
	}
	div#profileShortInfoParent{
		width: 75%;	
	}
	div#profileShortInfoParent h2{
			font-size: 18px;
		}
	div#smallScreenBio h5{
		font-size: 12px;
	}
	div#smallScreenBio p{
		font-size: 11px;
	}
	div#profileShortInfoParent a.editFollowBtn{
		font-size: 11px;
	    height: 26px;
	}
	/*second part*/
	.tabLinks{
		padding: 20px 20px;
		color: #828282;
	}
	span.btn-icon{
		display: inline-block;
		font-size: 22px;
	}

	/*post part*/
	div.postContent h5{
		font-size: 13px;
	}
	div.postContent p{
		font-size: 12px;
	}
	div#commentImage img{
		max-height: 100px !important
	}
	div.shareOptionsForGuest{
		margin-top: 7px;
	}
	div.shareOptionsForGuest::after{
		top: -6px;
	}
/* options part */
	div.options{
		padding-left: 22px;
	}
	span.optionsIcons{
		font-size: 14px;
		margin-right: 0;
	}

/* comment part */
	.commentField{
		font-size: 9px;
	}
	.addCommentBtn{
		font-size: 9px;
	}
	.commentPhotoButton{
		font-size: 14px;
		margin-left: 4px;
	}
	div.commentImageVideoErrorMsg, div.replyImageVideoErrorMsg{
		font-size: 10px;
		padding: 7px 9px;
	}
	div.commentImageDiv img{
		max-width: 120px;
		max-height: 120px;
	}
	div.commentSuccessMsgs, div.replySuccessMsgs{
		font-size: 10px;
		padding: 7px 9px;
	}
/* Showing all comments part */
	div.commentOwnerName a{
		font-size: 11px;
	}

	div.allCommentsContent p{
		font-size: 10px;
	}
	div.commetOptions button{
		font-size: 9px;
	}
/*End of showing all comments part*/

/* Beggining of the form of replies */
	.replyField{
		font-size: 10px;
	}
	.addReplyBtn{
		height: 23px;
		padding: 0 12px;
		font-size:10px; 
	}
/* End of the form of replies */

/* Beggining of showing all repplies */

	div.allRepliessContent p{
		font-size: 10px;
		margin-left: 0px;
	}
/* End of showing all repplies */

/*Achievements part*/
	.ach-buttons{
		padding-right: 15px;
		padding-left: 15px;	
		font-size: 10px;
	}
	.ach-icons{
		font-size: 10px;
	}
	#cancelButtonIcon{
		left: 5px;
		top: 7px;
	}
	#submitButtonIcon{
		right:5px;
		top: 8px;
	}

}