#deleteLoad{
	width: 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	box-shadow: 0 2px 4px 900px rgba(59,64,69,0.1);
	background: rgba(59,64,69,0.1);
	display: none;
}
#deleteMessage{
	width: 20%;
	position: fixed;
	top: 50%;
	left: 40%;
	z-index: 1;
	font-weight: bold;
	box-shadow: 0 2px 4px 900px rgba(59,64,69,0.1);
	background-color: #3fbbc0;
	color: white;
	border-radius: 12px;
	display: none;
}
div#footer{
	margin-top: 700px;	
}
#main{
	padding: 14px 20px;
	overflow: hidden;
	background-color: #fdfdfd;
	position: relative;
}
table{
	background-color: white;
}
table tr th{
	text-align: center;
	font-size: 12px;
}
table tr td{
	border-right: 1px solid rgba(59,64,69,0.2);
	text-align: center;
	font-size: 13px;
	padding:5px !important;
}
table tr td a{
	color: #3fbbc0;
}
table tr td a:hover{
	text-decoration: none;
}
table tr:hover{
	background-color: #f9f9f9 !important;
	color: #3fbbc0;
}
#catList{
	overflow: hidden;
	width: 90%;
	position: relative;
	/*margin: 0 auto;*/
}
#catList h4{
	font-weight: bold;
	font-size: 15px;
	text-align: center;	
}
#deleteCatButton{
	background-color: #f37276;
	border-color: #f37276;
	color: white;
	font-weight: bold;
	position: absolute;
	top: 0px;
	right: 0px;
	width:60px;
	display: none;
}
#deleteCatButton:focus{
	box-shadow: none;
}

#addCatButton{
	color: #3fbbc0;
	position: absolute;
	top: 40px;
	z-index: 0;	
	background-color: white;
	width: 40px;
	right: 50px;
	padding: 10px 15px;
	border-radius: 50%;
	font-size: 13px;
	box-shadow: 0px 0px 3px 2px lightgrey;
	cursor: pointer;
}

/*#catForm{
	width: 50%;
	float:left;
	overflow: hidden;
	padding:12px 80px;
	display: none;
}
*/
#formDiv{
	position: fixed;
	width: 300px;
	height: 190px;
	top: 40%;
	left: 40%;
	z-index: 1;
	background-color: white;
	box-shadow: 0 2px 4px 900px rgba(59,64,69,0.1);
	padding: 20px 20px;
	border-radius: 12px;
	pointer-events: initial !important; 
	display: none;
}
.form-elemets{
	margin-bottom: 8px;
	margin-bottom: 12px;
	position: relative;
}
.form-labels{
	font-weight: bold;
	margin-bottom: 12px;
}
#closeFormButton{
	cursor: pointer !important;
	position: absolute;
	top: 4px;
	right: 11px;
	font-size: 22px;
}
#closeFormButton:hover{
	color: red !important;
}
.notes{
	font-size: 10px;
	color: #999;
}
#submitButton{
	background-color: #3fbbc0;
	color: white;
	float: right;
	width: 100%;
}
#addLoad{
	position: absolute;
	top: 42px;
	right: 5px;
	width: 22px;
	display: none;
}
.errors{
	color: red;
	font-size: 11px;
}
.errorForm{
	border:1px solid red;
}
/* pagination */
.page-link{
	color: #3fbbc0 !important;
    height: 30px !important;
    padding-top: 9px;
    font-size: 11px;

}
.page-item.active .page-link{
	background-color: #3fbbc0  !important;
	border-color:  #3fbbc0 !important;
	color: white !important; 
	z-index: 0;
}

/* ///////////////////////////////////////////////////////////////// IPHAD PRO /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1200px) and (min-width: 1024px){	
	#catList{
		width: 96%;
	}
	#deleteCatButton{
		width:53px;
	}
	#deleteMessage{
		top: 40%;
		left: 40%;
	}
	#addCatButton{
	    position: fixed;
	    top: 161px;
	    z-index: 0;
	    right: 4px;
	}
	#formDiv{
		top: 30%;
	}
}
/* ///////////////////////////////////////////////////////////////// IPHAD /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1023px) and (min-width: 768px){
	#main{
		padding: 0px 20px;
	}
	#catList{
		width: 100%;
		overflow: visible;
		padding-top: 12px;
	}
	#catList h4{
		margin-top: 0px;
	}
	#deleteCatButton{
		width:53px;
	}
	#addCatButton{
	    position: absolute;
	    top:4px;
	    z-index: 1;
	    width: 47px;
	    left: 21px;
	    text-align: center;
	    padding: 0px 0px;
	    border-radius: 0%;
	    font-size: 16px;
	    box-shadow: 0px 0px 2px 1px lightgrey;
	}
	#formDiv{
		left: 30%;
	}
	.form-elemets{
		font-size: 12px;
	}
	::placeholder{
		font-size: 12px;
	}
	.form-labels{
		font-weight: bold;
		margin-bottom: 12px;
	}
}
/* ///////////////////////////////////////////////////////////////// Samll sizes rotate /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 767px){
	#main{
		padding: 0px 2px;
	}
	table tr td{
		font-size: 10px;
	}
	table tr th{
		font-size: 9px;
	}
	#catList{
		width: 100%;
		padding-top: 12px;
	}
	#deleteCatButton{
		width:53px;
	}
	#deleteMessage{
		width: 70%;
		left: 15%;
	}
	#addCatButton{
	    position: absolute;
	    top:4px;
	    z-index: 1;
	    width: 32px;
	    left: 3px;
	    text-align: center;
	    padding: 0px 0px;
	    border-radius: 0%;
	    font-size: 16px;
	    box-shadow: 0px 0px 2px 1px lightgrey;
	}
	#formDiv{
		left: 30%;
	}
	.form-elemets{
		font-size: 12px;
	}
	::placeholder{
		font-size:12px;
	}
}
/* ///////////////////////////////////////////////////////////////// Samll sizes /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 468px){
	#deleteCatButton{
		width:39px;
	}
	#formDiv{
	    width: 256px;
	    height: 180px;
	    top: 40%;
	    left: 15%;
	}
	.form-elemets{
		font-size: 12px;
	}
}
/* ///////////////////////////////////////////////////////////////// Very Samll sizes /////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 320px){
	table tr td{
		font-size: 9px;
	}
	table tr th{
		font-size: 8px;
	}
	#formDiv{
	    left: 10%;
	}
	.form-elemets{
		font-size: 11px;
	}
}